@use "@angular/material" as mat;

.item-form-group {
  margin-bottom: 24px;
  padding-bottom: 16px;

  h4 {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
  }
}

.item-property {
  margin-bottom: 12px;
}

.full-width-field {
  width: 100%;
}

.read-only-property {
  padding: 8px 0;
  font-size: 0.9em;

  strong {
    margin-right: 8px;
    font-weight: 500;
  }
}

.dialog-header {
  display: flex;
  align-items: center;
  gap: 40px;
  font-weight: bold;
  margin-top: 10px;
  padding: 0.5em 1.5rem;

  .dialog-title {
    font-size: 25px;
  }

  .small-approve-field {
    width: 150px !important;
    height: 40px !important;
    font-size: 13px !important;

    ::ng-deep .mat-mdc-form-field-bottom-align {
      display: none !important;
    }

    ::ng-deep .mat-mdc-form-field-infix {
      padding-top: 8px !important;
    }
  }
}

mat-divider {
  margin-top: 20px;
}

::ng-deep mat-mdc-dialog-content {
  max-height: 100vh !important;
  overflow: visible !important;
  padding: 0 1rem;
  min-width: 100%;
  display: block !important;
}

::ng-deep .mat-mdc-dialog-container {
  max-height: 100vh !important;
  // overflow: auto;

  .mat-mdc-dialog-surface {
    overflow: unset !important;
  }
}

.responsive-table-wrapper {
  max-height: 90vh;
  // overflow-y: auto;
}

mat-dialog-actions {
  flex-shrink: 0;
  padding: 15px;
  background: white;
  z-index: 1;
}

mat-dialog-actions .dialog-notice {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  text-decoration: underline;
  flex: 1;
  text-align: left;
  padding: 30px 15px;
}

mat-dialog-actions .dialog-accept-btn {
  width: 150px;
  height: 40px;
  background-color: #336dff;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  margin: 0 10px;
}

.mat-typography {
  padding-top: 0px;
  padding-bottom: 0px;
  max-height: 100vh;
}

.custom-search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cell-input-container {
  padding: 4px 8px;
  height: 100%;
  display: flex;
  align-items: center;
}

.editable-cell {
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.editable-cell:focus {
  outline: none;
  border-color: rgb(49, 110, 241);
  box-shadow: 0 0 0 2px rgba(49, 110, 241, 0.2);
}

.mat-cell {
  padding: 0;
  overflow: visible;
}

table {
  border-collapse: collapse;
  border: 1px solid #000000;
}

.scan-active {
  background-color: #4caf50 !important;
  color: #fff !important;
}

th,
td {
  padding: 8px;
  text-align: center;
  white-space: nowrap;
}

th {
  height: 50px;
  background-color: rgb(49, 110, 241);
}

.bordered-table {
  border-collapse: collapse;
  width: 100%;
  min-width: unset;
  table-layout: fixed;
  position: relative;

  ::ng-deep tr.mat-row {
    z-index: 1;
  }

  ::ng-deep .sticky-column,
  ::ng-deep .mat-cell.cdk-sticky {
    position: sticky !important;
    left: 0;
    z-index: 2 !important;
    background: white;
  }

  ::ng-deep tr.mat-header-row {
    position: sticky;
    top: 0;
    z-index: 3;
  }

  ::ng-deep th.sticky-column-header {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 4;
    background-color: #fff;
  }

  .mat-column-locationId {
    width: 140px;

    .search-container {
      padding-top: 9px;
    }
  }

  .mat-column-extendExpiration {
    width: 70px;
  }

  .mat-column-scanLocation {
    width: 210px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
  }

  .mat-column-materialIdentifier {
    width: 170px;
    z-index: 201;
  }

  .mat-column-calculatedStatus {
    width: 110px;
  }

  .mat-column-expirationDate {
    width: 120px;
  }

  .mat-column-partNumber {
    width: 130px;
  }

  .mat-column-quantity {
    width: 110px;
  }

  .mat-column-quantityChange {
    width: 110px;

    .search-container {
      padding-top: 9px;
    }
  }
}

.snack-info {
  background-color: #e0f7fa !important;
  color: #006064 !important;
}

.bordered-table th,
.bordered-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.mat-header-cell.search-header {
  padding: 0;
  overflow: visible;
}

.header-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-container {
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
}

.search-container mat-form-field {
  width: 100%;
}

.search-container .mat-form-field-wrapper {
  padding-bottom: 0;
}

.search-container .mat-form-field-outline {
  background-color: white;
  border-radius: 4px;
}

.search-header {
  padding: 0;
  margin: 0;
}

.search-container {
  padding: 0px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.text-center {
  text-align: center;
}

.custom-search-wrapper {
  width: 100%;
  height: 20px;
}

.custom-search-input {
  width: 98%;
  padding: 12px 1px 1px 4px;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid #ccc;
  align-items: center;
  margin-left: -2px;
}

.custom-button {
  padding: 0 16px;
  background-color: #fff;
  color: #333;

  .button-text {
    flex-grow: 1;
    text-align: left;
  }

  .button-icon {
    margin-left: 8px;
    color: #666;
  }

  &:hover {
    border-color: #999;
    background-color: #f8f8f8;
  }

  &:focus {
    border-color: #3f51b5;
    box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2);
  }
}

.custom-approver-button {
  height: 40px;
  width: 200px;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: 400;
  font-style: normal;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.dialog-center-pane {
  margin: 0 auto !important;
  border-radius: 8px;
}

.dialog-info {
  font-size: 14px;
  padding: 5px;
}

.dialog-fullscreen-pane {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
  max-height: 100vh;
  height: 100vh;
}

// .mat-column-s{
//   flex: 0 0 150px;
// }
/* MOBILE (< 600px) */
@media (max-width: 366px) {
  .dialog-header {
    display: flex;
    margin: 0;
    gap: 5px;

    .dialog-title {
      font-size: 13px;
      font-weight: bold;
      margin: 5px 2px;
      width: 80%;
    }
  }

  .dialog-center-pane {
    width: 75vw !important;
    max-width: 75vw !important;
    margin: 0 auto !important;
  }

  .responsive-table-wrapper {
    max-height: 45vh;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
  }

  .bordered-table {
    table-layout: auto;

    .scan-btn {
      font-size: 11px;
      height: 30px;
      padding: 0 5px;
    }

    .scan-btn-text {
      display: none;
    }

    .scan-btn-icon {
      padding: 0;
      margin: 0;
    }

    .mat-column-materialIdentifier {
      max-width: 122px !important;
    }

    .mat-column-calculatedStatus {
      max-width: 110px !important;
    }

    .mat-column-expirationDate {
      max-width: 110px !important;
    }

    .mat-column-partNumber {
      max-width: 110px !important;
    }

    .mat-column-quantity {
      max-width: 110px !important;
    }

    .mat-column-quantityChange {
      max-width: 110px !important;

      .search-container {
        padding-top: 9px;
      }
    }

    .mat-column-locationId {
      .editable-cell {
        font-size: 11px !important;
      }

      ::ng-deep mat-autocomplete {
        font-size: 11px !important;
      }
    }
  }

  mat-dialog-centent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-typography {
    min-height: 150px;

    ::ng-deep table {
      margin-right: 1rem;
    }

    th.mat-mdc-header-cell {
      padding: 2px 4px !important;
      font-size: 10px !important;

      .search-container {
        // padding: 0;
        // margin: 0;

        .small-form-field {
          width: 150px !important;
          height: 50px !important;
          line-height: 12px;
          font-size: 13px !important;

          .mat-form-field-infix {
            padding: 0 2px !important;
          }

          mat-label {
            font-size: 8px !important;
            line-height: 10px !important;
          }

          input,
          .mat-select-trigger,
          mat-datepicker-toggle {
            font-size: 8px !important;
            height: 15px !important;
            padding: 0 2px !important;
          }

          .mat-mdc-select {
            font-size: 9px !important;
          }
        }
      }

      fa-icon {
        font-size: 16px !important;
      }
    }

    td.mat-mdc-cell {
      padding: 4px 6px !important;
      font-size: 11px !important;
    }
  }

  .dialog-footer {
    flex-direction: column !important;

    .dialog-small-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .dialog-notice {
        font-size: 10px;
        padding: 4px 0;
      }

      .dialog-info {
        font-size: 10px;
        padding: 4px;
        font-weight: bold;
      }
    }
  }
}

@media (min-width: 366px) and (max-width: 500px) {
  .dialog-header {
    display: flex;
    margin: 0;

    .dialog-title {
      font-size: 20px;
      margin: 10px 5px;
    }

    .right-header {
      flex-direction: column;
      .small-approve-field {
        height: 30px !important;
        font-size: 11px !important;
      }
      .checkbox-auto-approve {
        .mat-mdc-checkbox {
          padding: 4px;
        }
        .checked_label {
          font-size: 11px !important;
        }
      }
    }
  }

  .dialog-center-pane {
    width: 95vw !important;
    max-width: 95vw !important;
    margin: 0 auto !important;
  }

  .responsive-table-wrapper {
    max-height: 55vh;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
  }

  .bordered-table {
    table-layout: auto;

    .scan-btn {
      font-size: 11px;
      height: 30px;
      padding: 0 5px;
    }

    .scan-btn-text {
      display: none;
    }

    .scan-btn-icon {
      padding: 0;
      margin: 0;
    }

    .mat-column-materialIdentifier {
      max-width: 122px !important;
    }

    .mat-column-calculatedStatus {
      max-width: 110px !important;
    }

    .mat-column-expirationDate {
      max-width: 110px !important;
    }

    .mat-column-partNumber {
      max-width: 110px !important;
    }

    .mat-column-quantity {
      max-width: 110px !important;
    }

    .mat-column-quantityChange {
      max-width: 110px !important;

      .search-container {
        padding-top: 9px;
      }
    }

    .mat-column-locationId {
      .editable-cell {
        font-size: 11px !important;
      }

      ::ng-deep mat-autocomplete {
        font-size: 11px !important;
      }
    }
  }

  // mat-dialog-container {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  .mat-typography {
    min-height: 125px;

    ::ng-deep table {
      margin-right: 1rem;
    }

    th.mat-mdc-header-cell {
      padding: 2px 4px !important;
      font-size: 10px !important;

      .search-container {
        // padding: 0;
        // margin: 0;

        .small-form-field {
          width: 150px !important;
          height: 50px !important;
          line-height: 12px;
          font-size: 13px !important;

          .mat-form-field-infix {
            padding: 0 2px !important;
          }

          mat-label {
            font-size: 8px !important;
            line-height: 10px !important;
          }

          input,
          .mat-select-trigger,
          mat-datepicker-toggle {
            font-size: 8px !important;
            height: 15px !important;
            padding: 0 2px !important;
          }

          .mat-mdc-select {
            font-size: 9px !important;
          }
        }
      }

      fa-icon {
        font-size: 16px !important;
      }
    }

    td.mat-mdc-cell {
      padding: 4px 6px !important;
      font-size: 11px !important;
    }
  }

  .dialog-footer {
    flex-direction: column !important;

    .dialog-notice {
      font-size: 11px;
      padding: 1px;
    }
  }
}

/* TABLET (600–959px) */
@media (min-width: 501px) and (max-width: 959px) {
  .dialog-header {
    display: flex;
    margin: 0;
    gap: 4px !important;

    .dialog-title {
      font-size: 14px;
      margin: 10px 5px;
    }

    .right-header {
      display: flex;
      .small-approve-field {
        width: 125px !important;
        height: 30px !important;
        font-size: 11px !important;
      }
      .checkbox-auto-approve {
        .checked_label {
          font-size: 11px !important;
        }
      }
    }
  }

  .dialog-center-pane {
    width: 95vw !important;
    max-width: 95vw !important;
    margin: 0 auto !important;
  }

  .responsive-table-wrapper {
    max-height: 55vh;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
  }

  .bordered-table {
    table-layout: auto;

    .scan-btn {
      font-size: 11px;
      height: 30px;
      padding: 0 5px;
    }

    .scan-btn-text {
      display: none;
    }

    .scan-btn-icon {
      padding: 0;
      margin: 0;
    }

    .mat-column-materialIdentifier {
      max-width: 122px !important;
    }

    .mat-column-calculatedStatus {
      max-width: 110px !important;
    }

    .mat-column-expirationDate {
      max-width: 110px !important;
    }

    .mat-column-partNumber {
      max-width: 110px !important;
    }

    .mat-column-quantity {
      max-width: 110px !important;
    }

    .mat-column-quantityChange {
      max-width: 110px !important;

      .search-container {
        padding-top: 9px;
      }
    }

    .mat-column-locationId {
      .editable-cell {
        font-size: 11px !important;
      }

      ::ng-deep mat-autocomplete {
        font-size: 11px !important;
      }
    }
  }

  // mat-dialog-container {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  .mat-typography {
    min-height: 125px;

    ::ng-deep table {
      margin-right: 1rem;
    }

    th.mat-mdc-header-cell {
      padding: 2px 4px !important;
      font-size: 10px !important;

      .search-container {
        // padding: 0;
        // margin: 0;

        .small-form-field {
          width: 150px !important;
          height: 50px !important;
          line-height: 12px;
          font-size: 13px !important;

          .mat-form-field-infix {
            padding: 0 2px !important;
          }

          mat-label {
            font-size: 8px !important;
            line-height: 10px !important;
          }

          input,
          .mat-select-trigger,
          mat-datepicker-toggle {
            font-size: 8px !important;
            height: 15px !important;
            padding: 0 2px !important;
          }

          .mat-mdc-select {
            font-size: 9px !important;
          }
        }
      }

      fa-icon {
        font-size: 16px !important;
      }
    }

    td.mat-mdc-cell {
      padding: 4px 6px !important;
      font-size: 11px !important;
    }
  }

  .dialog-footer {
    flex-direction: column !important;

    .dialog-notice {
      font-size: 11px;
      padding: 1px;
    }
    .dialog-info {
      font-size: 11px;
      padding: 1px;
    }
  }
}

/* DESKTOP (>= 960px) */
@media (min-width: 960px) {
  ::ng-deep table {
    th.mat-mdc-header-cell {
      padding: 6px 8px !important;
      font-size: 14px !important;

      .search-container {
        .small-form-field {
          // width: 100px !important;

          .mat-form-field-infix {
            padding: 0 2px !important;
          }

          mat-label {
            font-size: 9px !important;
            line-height: 12px !important;
          }

          input,
          .mat-select-trigger,
          mat-datepicker-toggle {
            font-size: 12px !important;
            height: 20px !important;
            padding: 0 2px !important;
          }
        }
      }

      fa-icon {
        font-size: 20px !important;
      }
    }

    td.mat-mdc-cell {
      padding: 4px 6px !important;
      font-size: 13px !important;
    }

    .mat-column-locationId {
      min-width: 100px;
    }
  }
}
