<div class="dialog-header">
  <h2 mat-dialog-title class="dialog-title">Cập nhật vật tư</h2>
  <div style="align-items: center; margin-top: 5px" class="right-header">
    <mat-form-field appearance="fill" class="small-approve-field">
      <input
        type="text"
        matInput
        [formControl]="approverCtrl"
        [matAutocomplete]="auto"
        placeholder="Chọn người duyệt"
      />

      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayApprover"
        (optionSelected)="onApproverSelected($event.option.value)"
      >
        <mat-option *ngFor="let u of filteredApprovers | async" [value]="u">
          {{ u.username }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-checkbox
      color="primary"
      [(ngModel)]="isMoveChecked"
      (change)="onMoveCheckboxChange($event.checked)"
      class="checkbox-auto-approve"
    >
      <span class="checked_label">Chuyển kho</span>
    </mat-checkbox>
    <mat-checkbox
      *jhiHasAnyAuthority="'ROLE_PANACIM_APPROVE_AUTO'"
      color="primary"
      [(ngModel)]="autoApprove"
      (change)="onAutoApproved($event.checked)"
      class="checkbox-auto-approve"
    >
      <span class="checked_label">Tự phê duyệt</span>
    </mat-checkbox>
  </div>
</div>

<mat-dialog-content class="mat-typography dialog-content">
  <div class="responsive-table-wrapper">
    <table
      mat-table
      [dataSource]="itemsDataSource"
      class="mat-elevation-z8 bordered-table"
    >
      <ng-container matColumnDef="materialIdentifier">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="search-header sticky-column-header"
          style="background-color: #548ce8"
        >
          <div class="header-content">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-between;
              "
            >
              <div class="column-title" style="color: white">
                Material Identifier
              </div>
              <div>
                <mat-icon
                  [matMenuTriggerFor]="filterMenuIndentify"
                  style="color: white"
                  >filter_list</mat-icon
                >
              </div>
            </div>
            <mat-menu #filterMenuIndentify="matMenu">
              <button
                mat-menu-item
                (click)="setFilterMode( 'materialIdentifier' , 'contains')"
              >
                Có chứa
              </button>
              <button
                mat-menu-item
                (click)="setFilterMode( 'materialIdentifier' , 'equals')"
              >
                Bằng
              </button>
            </mat-menu>
            <div class="search-container">
              <div class="custom-search-wrapper">
                <mat-form-field
                  class="small-form-field"
                  appearance="fill"
                  floatLabel="always"
                >
                  <input
                    matInput
                    type="text"
                    [placeholder]="'Search (' + (filterModes['materialIdentifier'] || 'contains') + ')'"
                    style="width: 100%"
                    (keyup)="applyFilter('materialIdentifier',$event)"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="sticky-column">
          {{element['materialIdentifier']}}
        </td>
      </ng-container>

      <ng-container matColumnDef="partNumber">
        <th mat-header-cell *matHeaderCellDef style="background-color: #548ce8">
          <div class="th-container">
            <div class="header-content">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  color: white;
                "
              >
                <div class="column-title">Part Number</div>
                <div>
                  <mat-icon
                    [matMenuTriggerFor]="filterPartNumber"
                    style="color: white"
                    >filter_list</mat-icon
                  >
                </div>
              </div>
              <mat-menu #filterPartNumber="matMenu">
                <button
                  mat-menu-item
                  (click)="setFilterMode( 'partNumber' , 'contains')"
                >
                  Có chứa
                </button>
                <button
                  mat-menu-item
                  (click)="setFilterMode( 'partNumber' , 'equals')"
                >
                  Bằng
                </button>
              </mat-menu>
              <div class="search-container">
                <div class="custom-search-wrapper">
                  <mat-form-field
                    class="small-form-field"
                    appearance="fill"
                    floatLabel="always"
                  >
                    <input
                      matInput
                      type="text"
                      [placeholder]="'Search (' + (filterModes['partNumber'] || 'contains') + ')'"
                      style="width: 100%"
                      (keyup)="applyFilter('partNumber',$event)"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{element['partNumber']}}</td>
      </ng-container>

      <ng-container matColumnDef="expirationDate">
        <th mat-header-cell *matHeaderCellDef style="background-color: #548ce8">
          <div class="th-container">
            <div class="header-content">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  color: white;
                "
              >
                <div class="column-title">Ngày hết hạn</div>
                <div>
                  <mat-icon
                    [matMenuTriggerFor]="filterExpirationDate"
                    style="color: white"
                    >filter_list</mat-icon
                  >
                </div>
              </div>
              <mat-menu #filterExpirationDate="matMenu">
                <button
                  mat-menu-item
                  (click)="setFilterMode( 'expirationDate' , 'contains')"
                >
                  Có chứa
                </button>
                <button
                  mat-menu-item
                  (click)="setFilterMode( 'expirationDate' , 'equals')"
                >
                  Bằng
                </button>
              </mat-menu>
              <div class="search-container">
                <div class="custom-search-wrapper">
                  <mat-form-field
                    class="small-form-field"
                    appearance="fill"
                    floatLabel="always"
                  >
                    <input
                      matInput
                      type="text"
                      [placeholder]="'Search (' + (filterModes['expirationDate'] || 'contains') + ')'"
                      style="width: 100%"
                      (keyup)="applyFilter('expirationDate',$event)"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{element['expirationDate'] | timestampToDate }}
        </td>
      </ng-container>
      <ng-container matColumnDef="calculatedStatus">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="background-color: #548ce8; max-width: 130px"
        >
          <div class="th-container">
            <div class="header-content">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  color: white;
                "
              >
                <div class="column-title">Status</div>
                <div>
                  <mat-icon
                    [matMenuTriggerFor]="filterMenuCalculatedStatus"
                    style="color: white"
                    >filter_list</mat-icon
                  >
                </div>
              </div>
              <mat-menu #filterMenuCalculatedStatus="matMenu">
                <button
                  mat-menu-item
                  (click)="setFilterMode( 'calculatedStatus' , 'contains')"
                >
                  Có chứa
                </button>
                <button
                  mat-menu-item
                  (click)="setFilterMode( 'calculatedStatus' , 'equals')"
                >
                  Bằng
                </button>
              </mat-menu>
              <div class="search-container">
                <div class="custom-search-wrapper">
                  <mat-form-field
                    class="small-form-field"
                    appearance="fill"
                    floatLabel="always"
                  >
                    <mat-label>Search Status</mat-label>
                    <mat-select
                      placeholder="Search"
                      (selectionChange)="applySelectFilter('calculatedStatus', $event.value)"
                    >
                      <mat-option
                        *ngFor="let opt of statusOptions"
                        [value]="opt.value"
                      >
                        {{ opt.view }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{element['calculatedStatus']}}
        </td>
      </ng-container>

      <ng-container matColumnDef="extendExpiration">
        <th mat-header-cell *matHeaderCellDef style="background-color: #548ce8">
          <div class="th-container">
            <div class="header-content">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  color: white;
                "
              >
                <div class="column-title">Gia hạn</div>
              </div>
              <div class="search-container">
                <div class="custom-search-wrapper text-center">
                  <!-- Header checkbox chỉ toggle Expired rows, đồng thời disable nếu không có Expired rows -->
                  <mat-checkbox
                    color="primary"
                    (change)="toggleAllExtendExpiration($event.checked)"
                    [checked]="isAllExtendExpirationSelected()"
                    [indeterminate]="isSomeExtendExpirationSelected()"
                    [disabled]="!hasExpiredRows()"
                  >
                  </mat-checkbox>
                </div>
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <!-- Row checkbox chỉ enable nếu status = Expired -->
          <mat-checkbox
            color="primary"
            [(ngModel)]="element.extendExpiration"
            (ngModelChange)="element._isChanged = true"
            [disabled]="element.calculatedStatus !== 'Expired'"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Phần header -->
      <ng-container matColumnDef="locationId">
        <th mat-header-cell *matHeaderCellDef style="background-color: #548ce8">
          <div class="th-container">
            <div class="header-content" style="color: white">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                "
              >
                <div class="column-title">Tên kho</div>
              </div>
              <div class="search-container">
                <div class="custom-search-wrapper" style="width: 100%">
                  <form style="width: 100%" [formGroup]="dialogForm">
                    <!-- Header dùng binding riêng -->
                    <mat-form-field
                      class="small-form-field"
                      appearance="fill"
                      floatLabel="always"
                    >
                      <input
                        type="text"
                        placeholder="Chọn kho cho tất cả"
                        aria-label="Kho"
                        matInput
                        formControlName="selectedWarehouseControl"
                        [matAutocomplete]="autoWarehouse"
                      />
                    </mat-form-field>

                    <mat-autocomplete
                      #autoWarehouse="matAutocomplete"
                      [displayWith]="displayWarehouseFn"
                      (optionSelected)="globalWarehouseChanged($event.option.value)"
                    >
                      <!-- Sử dụng danh sách từ filteredlocations -->
                      @for (warehouse of filteredWarehouses | async; track
                      warehouse.value) {
                      <mat-option [value]="warehouse"
                        >{{ warehouse.name }}</mat-option
                      >
                      }
                    </mat-autocomplete>
                  </form>
                </div>
                <!-- <mat-spinner *ngIf="scanLoadingAll" diameter="20" style="margin-left: 8px"></mat-spinner> -->
              </div>
            </div>
          </div>
        </th>

        <!-- Phần cell mỗi dòng -->
        <td mat-cell *matCellDef="let element">
          <div style="display: flex; align-items: center">
            <form
              [formGroup]="getFormGroupForItem(element)"
              style="width: 100%"
            >
              <input
                class="editable-cell"
                type="text"
                placeholder="Chọn kho mới"
                aria-label="Kho"
                matInput
                formControlName="selectedWarehouseItem"
                [matAutocomplete]="autoWarehouseRow"
                #rowTrigger="matAutocompleteTrigger"
                (focus)="openRowPanel(rowTrigger)"
                [disabled]="!isWarehouseReady || scanLoadingRow[element.materialIdentifier]"
              />
              <mat-autocomplete
                #autoWarehouseRow="matAutocomplete"
                [displayWith]="displayWarehouseFn"
                (optionSelected)="rowWarehouseChanged($event.option.value, element)"
              >
                <mat-option
                  *ngFor="let warehouse of (rowFilteredWarehouses.get(element.materialIdentifier) | async)"
                  [value]="warehouse"
                >
                  {{ warehouse.name }}
                </mat-option>
              </mat-autocomplete>
            </form>

            <!-- <mat-spinner *ngIf="!isWarehouseReady || scanLoadingRow[element.materialIdentifier]" diameter="20"
              style="margin-left: 8px" /> -->
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef style="background-color: #548ce8">
          <div class="th-container">
            <div class="header-content" style="color: white">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                "
              >
                <div class="column-title">Số lượng</div>
                <div>
                  <mat-icon
                    style="color: white"
                    [matMenuTriggerFor]="filterMenuQuantity"
                    >filter_list</mat-icon
                  >
                </div>
              </div>
              <mat-menu #filterMenuQuantity="matMenu">
                <button
                  mat-menu-item
                  (click)="setFilterMode( 'quantity' , 'contains')"
                >
                  Có chứa
                </button>
                <button
                  mat-menu-item
                  (click)="setFilterMode( 'quantity' , 'equals')"
                >
                  Bằng
                </button>
              </mat-menu>
              <div class="search-container">
                <div class="custom-search-wrapper">
                  <mat-form-field
                    class="small-form-field"
                    appearance="fill"
                    floatLabel="always"
                  >
                    <input
                      matInput
                      type="text"
                      placeholder="Search"
                      (keyup)="applyFilter('quantity',$event)"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{element['quantity']}}</td>
      </ng-container>

      <ng-container matColumnDef="quantityChange">
        <th mat-header-cell *matHeaderCellDef style="background-color: #548ce8">
          <div class="th-container">
            <div class="header-content" style="color: white">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                "
              >
                <div class="column-title">Điều chỉnh</div>
                <!-- <div>
                  <mat-icon style="color: white;">filter_list</mat-icon>
                </div> -->
              </div>
              <div class="search-container">
                <div class="custom-search-wrapper">
                  <!-- <input
                    #hdrInput
                    type="number"
                    class="custom-search-input"
                    placeholder="Nhập số để áp dụng cho tất cả"
                    [(ngModel)]="headerQuantityChange"
                    (input)="clampHeaderQuantity(hdrInput)"
                    (keyup.enter)="applyHeaderQuantityChange()"
                    (blur)="applyHeaderQuantityChange()"
                  /> -->
                  <mat-form-field
                    class="small-form-field"
                    appearance="fill"
                    floatLabel="always"
                  >
                    <input
                      matInput
                      #hdrInput
                      type="number"
                      placeholder="Nhập số cho tất cả"
                      [(ngModel)]="headerQuantityChange"
                      (keyup.enter)="applyHeaderQuantityChange()"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <input
            matInput
            type="number"
            class="editable-cell"
            [(ngModel)]="element.quantityChange"
          />
        </td>
      </ng-container>
      <ng-container matColumnDef="scanLocation">
        <th mat-header-cell *matHeaderCellDef style="background-color: #548ce8">
          <button
            class="scan-btn"
            mat-raised-button
            [ngClass]="{ 'scan-active': isScanAll }"
            (click)="scanLocationForAll()"
          >
            <mat-icon class="scan-btn-icon">center_focus_weak</mat-icon>
            <span class="scan-btn-text">Quét kho</span>
          </button>
          <button class="scan-btn" mat-raised-button (click)="refreshForAll()">
            <mat-icon class="scan-btn-icon">refresh</mat-icon>
            <span class="scan-btn-text">Fresh</span>
          </button>
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <button
            class="scan-btn"
            mat-raised-button
            [ngClass]="{ 'scan-active': currentScanRow?.inventoryId === element.inventoryId }"
            (click)="scanLocationForRow(element)"
          >
            <mat-icon class="scan-btn-icon">center_focus_weak</mat-icon>
            <span class="scan-btn-text">Quét kho</span>
          </button>
          <button
            class="scan-btn"
            mat-raised-button
            (click)="refreshForRow(element)"
          >
            <mat-icon class="scan-btn-icon">refresh</mat-icon>
            <span class="scan-btn-text">Fresh</span>
          </button>
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="Gia hạn">
        <th mat-header-cell *matHeaderCellDef style="background-color:#548CE8;">
          <div class="th-container">
            <div class="header-content"
              style="color: white; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; padding-top: 5px; padding-bottom: 5px;">
              <div class="column-title" style="margin-bottom: 5px; text-align: center;">
                Gia hạn
              </div>
              <mat-checkbox color="primary" (change)="toggleAllExtendExpiration($event.checked)"
                [checked]="isAllExtendExpirationSelected()" [indeterminate]="isSomeExtendExpirationSelected()"
                aria-label="Chọn/Bỏ chọn tất cả gia hạn">
              </mat-checkbox>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">
          <mat-checkbox color="primary" [(ngModel)]="element.extendExpiration"
            (ngModelChange)="element._isChanged = true" aria-label="Gia hạn vật tư này">
          </mat-checkbox>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <input
      #scanInput
      type="text"
      style="position: absolute; opacity: 0"
      (input)="onScanLocationInput($event)"
      (keydown.enter)="onScanInputEnter()"
      autocomplete="off"
      autocorrect="off"
      autocapitalize="none"
      spellcheck="false"
      inputmode="none"
    />
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-footer">
  <div class="dialog-small-text">
    <span class="dialog-notice"
      >Nếu chọn gia hạn, hệ thống sẽ tự động gia hạn thêm 15 ngày.</span
    >
    <span class="dialog-info">
      Số vật tư: {{ itemsDataSource?.data?.length || 0 }}
    </span>
    <span class="dialog-info">
      Tổng số lượng: {{ totalQuantityselect() }}
    </span>
  </div>
  <div>
    <button mat-button (click)="onCancel()">Hủy</button>
    <!-- <button mat-stroked-button class="dialog-accept-btn" (click)="onSave()">
      Gửi đề nghị
    </button> -->
    <button mat-stroked-button class="dialog-accept-btn" (click)="onSubmit()">
      {{ buttonLabel }}
    </button>
  </div>
</mat-dialog-actions>
