<div>
  <button
    type="submit"
    (click)="previousState()"
    class="btn btn-info"
    data-cy="entityDetailsBackButton"
  >
    <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Trở lại</span>
  </button>
  <div class="table-responsive" id="entities">
    <div class="headling-detail">
      <h2 data-cy="lenhSanXuatDetailsHeading">
        <span>Gửi yêu cầu phê duyệt</span>
      </h2>
      <div class="headling-btn">
        <button class="export-btn export-excel" (click)="exportToExcel()">
          Export to excel
        </button>
        <button class="export-btn exportCSV" (click)="exportCSV()">
          Export to csv
        </button>
      </div>
    </div>
    <hr />
    <div *ngIf="lenhSanXuat" id="dvData">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
            <th scope="col" jhiSortBy="maLenhSanXuat">
              <span>Mã lệnh sản xuất</span>
            </th>
            <th scope="col" jhiSortBy="SAPcode"><span>Mã SAP</span></th>
            <th scope="col" jhiSortBy="SAPname"><span>Tên hàng hoá</span></th>
            <th scope="col" jhiSortBy="WOcode"><span>Mã WO</span></th>
            <th scope="col" jhiSortBy="version"><span>Version</span></th>
            <th scope="col" jhiSortBy="InventoryCode">
              <span>Mã kho nhập</span>
            </th>
            <th scope="col" jhiSortBy="totalQuantity">
              <span>Tổng số lượng nhập</span>
            </th>
            <th scope="col" jhiSortBy="UpdateBy"><span>Cập nhật bởi</span></th>
            <th scope="col" jhiSortBy="entryTime">
              <span>Thời gian tạo tem</span>
            </th>
            <th scope="col" jhiSortBy="timeUpdate">
              <span>Thời gian cập nhật</span>
            </th>
            <th scope="col" jhiSortBy="status"><span>Trạng thái</span></th>
            <th scope="col" jhiSortBy="comment"><span>Lưu ý</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span>{{ lenhSanXuat.maLenhSanXuat }}</span>
            </td>

            <td>
              <span>{{ lenhSanXuat.sapCode }}</span>
            </td>

            <td>
              <span>{{ lenhSanXuat.sapName }}</span>
            </td>

            <td>
              <span>{{ lenhSanXuat.workOrderCode }}</span>
            </td>

            <td>
              <span>{{ lenhSanXuat.version }}</span>
            </td>

            <td>
              <span>{{ lenhSanXuat.storageCode }}</span>
            </td>

            <td>
              <span>{{ lenhSanXuat.totalQuantity }}</span>
            </td>

            <td>
              <span>{{ lenhSanXuat.createBy }}</span>
            </td>

            <td>
              <span>{{ lenhSanXuat.entryTime | formatMediumDatetime }}</span>
            </td>

            <td>
              <span>{{ lenhSanXuat.timeUpdate | formatMediumDatetime }}</span>
            </td>

            <td>
              <span>{{ lenhSanXuat.trangThai }}</span>
            </td>

            <td>
              <span>{{ lenhSanXuat.comment }}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
      <br />
      <br />
      <br />

      <h2>Thông tin tem</h2>
      <hr />

      <div style="overflow-x: auto; width: 100%">
        <table class="table info-table" id="table-data">
          <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
              <th scope="col" jhiSortBy="STT">STT</th>
              <th scope="col" jhiSortBy="reelID">Reel ID</th>
              <th scope="col" jhiSortBy="partNumber">Part Number</th>
              <th scope="col" jhiSortBy="vendor">Vendor</th>
              <th scope="col" jhiSortBy="lot">IOT</th>
              <th scope="col" jhiSortBy="userData1">User Data 1</th>
              <th scope="col" jhiSortBy="userData2">
                <span class="custom-width">User Data 2</span>
              </th>
              <th scope="col" jhiSortBy="userData3">
                <span class="custom-width">User Data 3</span>
              </th>
              <th scope="col" jhiSortBy="userData4">User Data 4</th>
              <th scope="col" jhiSortBy="userData5">User Data 5</th>
              <th scope="col" jhiSortBy="initialQuantity">Initial Quantity</th>
              <th scope="col" jhiSortBy="msdLevel">MSD Level</th>
              <th scope="col" jhiSortBy="msdInitialFloorTime">
                MSD Initial Floor Time
              </th>
              <th scope="col" jhiSortBy="msdBagSealDate">MSD Bag Seal Date</th>
              <th scope="col" jhiSortBy="marketUsage">Market Usage</th>
              <th scope="col" jhiSortBy="quantityOverride">
                Quantity Override
              </th>
              <th scope="col" jhiSortBy="shelfTime">Shelf Time</th>
              <th scope="col" jhiSortBy="spMaterialName">SP Material Name</th>
              <th scope="col" jhiSortBy="warningLimit">Warning Limit</th>
              <th scope="col" jhiSortBy="maximumLimit">Maximum Limit</th>
              <th scope="col" jhiSortBy="comments">Comments</th>
              <th scope="col" jhiSortBy="warmupTime">Warm Up Time</th>
              <th scope="col" jhiSortBy="storageUnit">Storage Unit</th>
              <th scope="col" jhiSortBy="subStorageUnit">Sub Storage Unit</th>
              <th scope="col" jhiSortBy="locationOverride">
                Location Override
              </th>
              <th scope="col" jhiSortBy="expirationDate">Expiration Date</th>
              <th scope="col" jhiSortBy="manufacturingDate">
                ManuFacturing Date
              </th>
              <th scope="col" jhiSortBy="partClass">Part Class</th>
              <th scope="col" jhiSortBy="sapCode">Sap Code</th>
              <th scope="col" jhiSortBy="trangThai">Status</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="
                let data of chiTietLenhSanXuats
                  | paginate: { itemsPerPage: itemPerPage, currentPage: page };
                let i = index
              "
            >
              <!-- STT -->
              <td>
                <span>{{ i + 1 }}</span>
              </td>
              <!-- Reel ID -->
              <td>
                {{ $any(data).reel_id }}
              </td>
              <!-- Part Number -->
              <td>
                {{ $any(data).part_number }}
              </td>
              <!-- Vendor -->
              <td>
                {{ $any(data).vendor }}
              </td>
              <!-- Lot -->
              <td>
                {{ $any(data).lot }}
              </td>
              <!-- User Data 1 -->
              <td>
                {{ $any(data).user_data1 }}
              </td>
              <!-- User Data 2 -->
              <td>
                {{ $any(data).user_data2 }}
              </td>
              <!-- User Data 3 -->
              <td>
                {{ $any(data).user_data3 }}
              </td>
              <!-- User Data 4 -->
              <td>
                {{ $any(data).user_data4 }}
              </td>
              <!-- User Data 5 -->
              <td>
                {{ $any(data).user_data5 }}
              </td>
              <!-- Initial Quantity -->
              <td>
                {{ $any(data).initial_quantity }}
              </td>
              <!-- MSD Level -->
              <td>
                {{ $any(data).msd_level }}
              </td>
              <!-- MSD Initial Floor Time -->
              <td>
                {{ $any(data).msd_initial_floor_time }}
              </td>
              <!-- MSD Bag Seal Date -->
              <td>
                {{ $any(data).msd_bag_seal_date }}
              </td>
              <!-- Market Usage -->
              <td>
                {{ $any(data).market_usage }}
              </td>
              <!-- Quantity Override -->
              <td>
                {{ $any(data).quantity_override }}
              </td>
              <!-- Shelf Time -->
              <td>
                {{ $any(data).shelf_time }}
              </td>
              <!-- SP Material Name -->
              <td>
                {{ $any(data).sp_material_name }}
              </td>
              <!-- Warning Limit -->
              <td>
                {{ $any(data).warning_limit }}
              </td>
              <!-- Maximum Limit -->
              <td>
                {{ $any(data).maximum_limit }}
              </td>
              <!-- Comments -->
              <td>
                {{ $any(data).comments }}
              </td>
              <!-- Warm Up Time -->
              <td>
                {{ $any(data).warmup_time }}
              </td>
              <!-- Storage Unit -->
              <td>
                {{ $any(data).storage_unit }}
              </td>
              <!-- Sub Storage Unit -->
              <td>
                {{ $any(data).sub_storage_unit }}
              </td>
              <!-- Location Override -->
              <td>
                {{ $any(data).location_override }}
              </td>
              <!-- Expiration Date -->
              <td>
                {{ $any(data).expiration_date }}
              </td>
              <!-- Manufacturing Date -->
              <td>
                {{ $any(data).manufacturing_date }}
              </td>
              <!-- Part Class -->
              <td>
                {{ $any(data).part_class }}
              </td>
              <!-- Sap Code -->
              <td>
                {{ $any(data).sap_code }}
              </td>
              <!-- Status -->
              <td>
                {{ $any(data).trang_thai }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls
        (pageChange)="page = $event"
        style="float: right; margin-right: 3rem"
      ></pagination-controls>
    </div>
  </div>
</div>
