<div>
  <button
    type="submit"
    (click)="previousState()"
    class="btn btn-info"
    data-cy="entityDetailsBackButton"
  >
    <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Trở lại</span>
  </button>
  <div class="table-responsive" id="entities">
    <div class="headling-detail">
      <h2 data-cy="lenhSanXuatDetailsHeading">
        <span>Gửi yêu cầu phê duyệt</span>
      </h2>
      <div class="headling-btn">
        <button class="export-btn export-excel" (click)="exportToExcel()">
          Export to excel
        </button>
        <button class="export-btn exportCSV" (click)="exportCSV()">
          Export to csv
        </button>
      </div>
    </div>
    <hr />
    <div *ngIf="lenhSanXuat" id="dvData">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
            <th scope="col" jhiSortBy="maLenhSanXuat">
              <span>Mã lệnh sản xuất</span>
            </th>
            <th scope="col" jhiSortBy="SAPcode"><span>Mã SAP</span></th>
            <th scope="col" jhiSortBy="SAPname"><span>Tên hàng hoá</span></th>
            <th scope="col" jhiSortBy="WOcode"><span>Mã WO</span></th>
            <th scope="col" jhiSortBy="version"><span>Version</span></th>
            <th scope="col" jhiSortBy="InventoryCode">
              <span>Mã kho nhập</span>
            </th>
            <th scope="col" jhiSortBy="totalQuantity">
              <span>Tổng số lượng nhập</span>
            </th>
            <th scope="col" jhiSortBy="UpdateBy"><span>Cập nhật bởi</span></th>
            <th scope="col" jhiSortBy="entryTime">
              <span>Thời gian tạo tem</span>
            </th>
            <th scope="col" jhiSortBy="timeUpdate">
              <span>Thời gian cập nhật</span>
            </th>
            <th scope="col" jhiSortBy="status"><span>Trạng thái</span></th>
            <th scope="col" jhiSortBy="comment"><span>Lưu ý</span></th>
          </tr>
        </thead>
        <tbody>
          <td>
            <span>{{ lenhSanXuat.maLenhSanXuat }}</span>
          </td>

          <td>
            <span>{{ lenhSanXuat.sapCode }}</span>
          </td>

          <td>
            <span>{{ lenhSanXuat.sapName }}</span>
          </td>

          <td>
            <span>{{ lenhSanXuat.workOrderCode }}</span>
          </td>

          <td>
            <span>{{ lenhSanXuat.version }}</span>
          </td>

          <td>
            <span>{{ lenhSanXuat.storageCode }}</span>
          </td>

          <td>
            <span>{{ lenhSanXuat.totalQuantity }}</span>
          </td>

          <td>
            <span>{{ lenhSanXuat.createBy }}</span>
          </td>

          <td>
            <span>{{ lenhSanXuat.entryTime | formatMediumDatetime }}</span>
          </td>

          <td>
            <span>{{ lenhSanXuat.timeUpdate | formatMediumDatetime }}</span>
          </td>

          <td>
            <span>{{ lenhSanXuat.trangThai }}</span>
          </td>

          <td>
            <span>{{ lenhSanXuat.comment }}</span>
          </td>
        </tbody>
      </table>
      <br />
      <br />
      <br />
      <br />

      <h2>Thông tin tem</h2>
      <hr />

      <div style="overflow-x: auto; width: 100%">
        <table class="table info-table" id="table-data">
          <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
              <th scope="col" jhiSortBy="STT">STT</th>
              <th scope="col" jhiSortBy="reelID">Reel ID</th>
              <th scope="col" jhiSortBy="partNumber">Part Number</th>
              <th scope="col" jhiSortBy="vendor">Vendor</th>
              <th scope="col" jhiSortBy="lot">IOT</th>
              <th scope="col" jhiSortBy="userData1">User Data 1</th>
              <th scope="col" jhiSortBy="userData2">
                <span class="custom-width">User Data 2</span>
              </th>
              <th scope="col" jhiSortBy="userData3">
                <span class="custom-width">User Data 3</span>
              </th>
              <th scope="col" jhiSortBy="userData4">User Data 4</th>
              <th scope="col" jhiSortBy="userData5">User Data 5</th>
              <th scope="col" jhiSortBy="initialQuantity">Initial Quantity</th>
              <th scope="col" jhiSortBy="msdLevel">MSD Level</th>
              <th scope="col" jhiSortBy="msdInitialFloorTime">
                MSD Initial Floor Time
              </th>
              <th scope="col" jhiSortBy="msdBagSealDate">MSD Bag Seal Date</th>
              <th scope="col" jhiSortBy="marketUsage">Market Usage</th>
              <th scope="col" jhiSortBy="quantityOverride">
                Quantity Override
              </th>
              <th scope="col" jhiSortBy="shelfTime">Shelf Time</th>
              <th scope="col" jhiSortBy="spMaterialName">SP Material Name</th>
              <th scope="col" jhiSortBy="warningLimit">Warning Limit</th>
              <th scope="col" jhiSortBy="maximumLimit">Maximum Limit</th>
              <th scope="col" jhiSortBy="comments">Comments</th>
              <th scope="col" jhiSortBy="warmupTime">Warm Up Time</th>
              <th scope="col" jhiSortBy="storageUnit">Storage Unit</th>
              <th scope="col" jhiSortBy="subStorageUnit">Sub Storage Unit</th>
              <th scope="col" jhiSortBy="locationOverride">
                Location Override
              </th>
              <th scope="col" jhiSortBy="expirationDate">Expiration Date</th>
              <th scope="col" jhiSortBy="manufacturingDate">
                ManuFacturing Date
              </th>
              <th scope="col" jhiSortBy="partClass">Part Class</th>
              <th scope="col" jhiSortBy="sapCode">Sap Code</th>
              <th scope="col" jhiSortBy="trangThai">Status</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="
                let data of chiTietLenhSanXuats
                  | paginate: { itemsPerPage: itemPerPage, currentPage: page };
                let i = index
              "
            >
              <td>
                <span>
                  {{ i + 1 }}
                </span>
              </td>

              <td>
                {{ data.reelID }}
              </td>

              <td>
                {{ data.partNumber }}
              </td>
              <td>
                {{ data.vendor }}
              </td>
              <td>
                {{ data.lot }}
              </td>
              <td>
                {{ data.userData1 }}
              </td>
              <td>
                {{ data.userData2 }}
              </td>
              <td>
                {{ data.userData3 }}
              </td>
              <td>
                {{ data.userData4 }}
              </td>
              <td>
                {{ data.userData5 }}
              </td>
              <td>
                {{ data.initialQuantity }}
              </td>
              <td>
                {{ data.msdLevel }}
              </td>
              <td>
                {{ data.msdInitialFloorTime }}
              </td>
              <td>
                {{ data.msdBagSealDate }}
              </td>
              <td>
                {{ data.marketUsage }}
              </td>
              <td>
                {{ data.quantityOverride }}
              </td>
              <td>
                {{ data.shelfTime }}
              </td>
              <td>
                {{ data.spMaterialName }}
              </td>
              <td>
                {{ data.warningLimit }}
              </td>
              <td>
                {{ data.maximumLimit }}
              </td>
              <td>
                {{ data.comments }}
              </td>
              <td>
                {{ data.warmupTime }}
              </td>
              <td>
                <span>
                  {{ data.storageUnit }}
                </span>
              </td>
              <td>
                {{ data.subStorageUnit }}
              </td>
              <td>
                {{ data.locationOverride }}
              </td>
              <td>
                {{ data.expirationDate }}
              </td>
              <td>
                {{ data.manufacturingDate }}
              </td>
              <td>
                {{ data.partClass }}
              </td>
              <td>
                {{ data.sapCode }}
              </td>
              <td>
                {{ data.trangThai }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls
        (pageChange)="page = $event"
        style="float: right; margin-right: 3rem"
      ></pagination-controls>
    </div>
  </div>
</div>
