@use "@angular/material" as mat;

.function-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0;
  gap: 20px;

  .group-title {
    flex: 0 0 auto;
  }

  .group-buttons-main {
    display: flex;
    width: 100%;
  }

  .group-buttons {
    display: flex;
    align-items: center;
    gap: 15px;

    &.primary,
    &.secondary {
      width: 50%;

      button {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: #fff;
      }

      .btn-text {
        display: inline;
      }
    }

    &.primary {
      justify-content: flex-start;

      .listupdate-with-badge {
        position: relative;
        display: inline-block;
      }

      .cart-badge {
        position: absolute;
        top: -10px;
        right: -4px;
        background-color: rgb(48, 58, 188);
        color: white;
        border-radius: 50%;
        padding: 0px 7px;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5;
        min-width: 20px;
        height: 20px;
        text-align: center;
      }
    }

    &.secondary {
      justify-content: flex-end;
    }
  }
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.overlay-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 105%;
  height: 105vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  z-index: 998;
}

.bordered-table {
  border-collapse: collapse;
  width: 100%;
}

.bordered-table th,
.bordered-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  font-weight: bold;
  text-align: left;
}

.listupdate-with-badge {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: rgb(48, 58, 188);
  color: white;
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  min-width: 20px;
  text-align: center;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  white-space: nowrap;
}

th {
  height: 50px;
  background-color: rgb(49, 110, 241);
}

.mat-header-cell.search-header {
  padding: 0;
  overflow: visible;
}

.header-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-container {
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
}

.search-container mat-form-field {
  width: 100%;
}

.search-container .mat-form-field-wrapper {
  padding-bottom: 0;
}

.search-container .mat-form-field-outline {
  background-color: white;
  border-radius: 4px;
}

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-hint-spacer {
  display: none !important;
}

.custom-search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-search-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.mat-mdc-table {
  width: 100%;
  max-height: 200px;
  overflow: auto;
}

::ng-deep .mat-mdc-select-value {
  font-size: 13px;
}

::ng-deep .mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper {
  transform: none !important;
}

.mat-column-name {
  height: 50;
}

.search-container mat-form-field input.mat-input-element {
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.search-header {
  padding: 0;
  margin: 0;
}

.column-title {
  color: white;
}

.search-container {
  padding: 0px;

  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Căn giữa theo chiều ngang */
  width: 100%;
  /* Chiếm full width của th */
}

.custom-search-wrapper {
  height: 20px;
}

.mat-checkbox-frame {
  border-color: white !important;
}

.mdc-checkbox__background {
  color: white !important;
}

.mdc-checkbox__mixedmark {
  color: white !important;
}

.mat-column-select_update {
  flex: 0 0 100px;
}

.mat-column-vendor {
  flex: 0 0 120px;
  /* Ví dụ: 120px */
  word-wrap: break-word;
  white-space: normal;
}

.custom-search-wrapper {
  width: 100%;
}

.custom-search-input {
  width: 98%;
  padding: 12px 1px 1px 4px;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid #ccc;
  align-items: center;
  margin-left: -2px;
}

.th {
  background-color: rgb(49, 110, 241);
}

// .full-scroll-table-container {
//   max-height: 870px;
//   overflow-y: auto;

//   overflow-x: auto;

// }

.full-scroll-table-container {
  max-height: 750px;
  width: 100%;
  // overflow-y: auto;
  overflow-x: auto;
}

::ng-deep .small-form-field {
  @include mat.form-field-density(-5);
  @include mat.icon-button-density(-5);
  @include mat.datepicker-density(-5);
}

.small-form-field {
  width: 175px !important;
  font-size: 13px !important;
}

// ::ng-deep .mat-mdc-form-field-icon-suffix{
//   top: -5px;
// }
::ng-deep .mat-datepicker-toggle {
  width: 24px;
  height: 24px;
}

::ng-deep .mat-mdc-header-row,
::ng-deep .mat-mdc-header-cell {
  position: sticky !important;
  top: 0;
  z-index: 100;
  background: #548ce8;
}

.scan-location-input {
  width: 150px !important;
  height: 40px !important;
  font-size: 13px !important;

  ::ng-deep .mat-mdc-form-field-bottom-align {
    display: none !important;
  }

  ::ng-deep .mat-mdc-form-field-infix {
    padding-top: 8px !important;
  }
}

.main-page {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-right: 1rem;
  height: 900px;
  width: calc(100% - 50px);
  max-width: 100%;
  margin: 0 auto;
}

.cdk-global-overlay-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-center-pane .cdk-overlay-pane {
  position: static !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-center-pane .mat-dialog-container {
  margin: 0 !important;
  max-height: 80vh;
  overflow: auto;
}

/* MOBILE (< 600px) */
@media (max-width: 366px) {
  .main-page {
    width: 110%;
    padding-right: 0.5rem;
    margin-left: 0.5rem;

    .function-list {
      flex-direction: column;
      align-items: stretch;
      gap: 12px;
      padding: 8px;

      .group-title {
        text-align: left;

        h2 {
          font-size: 20px;
        }
      }

      .group-buttons-main {
        flex-direction: column;

        .group-buttons {
          justify-content: flex-start;
          width: 100%;

          &.primary {
            width: 100%;
            margin-bottom: 5px;
            margin-top: 5px;

            button {
              min-width: 75px;
              min-height: 40px;
              padding: 0;
            }

            .scan-location-input {
              width: 75px !important;
            }
          }

          &.secondary {
            width: 100%;
            margin-bottom: 5px;
            margin-top: 5px;

            button {
              min-width: 75px;
              min-height: 40px;
              padding: 0;
            }
          }

          /* Chỉ hiện icon, ẩn text */
          .btn-text,
          .icon-down {
            display: none;
          }
        }
      }

      .mat-mdc-button > .mat-icon,
      .mat-mdc-raised-button > .mat-icon {
        margin-right: 0 !important;
      }
    }

    ::ng-deep .full-scroll-table-container {
      max-width: 100%;

      th.mat-mdc-header-cell {
        padding: 2px 4px !important;
        font-size: 10px !important;

        .search-container {
          padding: 0;
          margin: 0;

          .small-form-field {
            width: 150px !important;
            height: 50px !important;
            line-height: 12px;
            font-size: 13px !important;

            .mat-form-field-infix {
              padding: 0 2px !important;
            }

            mat-label {
              font-size: 8px !important;
              line-height: 10px !important;
            }

            input,
            .mat-select-trigger,
            mat-datepicker-toggle {
              font-size: 8px !important;
              height: 15px !important;
              padding: 0 2px !important;
            }
          }
        }

        mat-icon {
          font-size: 16px !important;
        }

        .mat-mdc-select {
          font-size: 9px !important;
        }
      }

      td.mat-mdc-cell {
        padding: 4px 6px !important;
        font-size: 11px !important;
      }

      .mat-column-locationId {
        min-width: 100px;
      }
    }

    // .demo-paginator{
    //   height: 50px;
    // }
  }
}

@media (min-width: 366px) and (max-width: 480px) {
  .main-page {
    max-width: 812px;
    padding-right: 1rem;
    margin-left: 0.5rem;

    .function-list {
      flex-direction: column;
      align-items: stretch;
      gap: 12px;
      padding: 8px;

      .group-title {
        text-align: left;
      }

      .group-buttons-main {
        flex-direction: column;

        .group-buttons {
          justify-content: flex-start;
          width: 100%;

          &.primary {
            width: 100%;
            margin-bottom: 5px;
            margin-top: 5px;

            button {
              min-width: 95px;
              min-height: 40px;
              padding: 0;
            }

            .scan-location-input {
              width: 95px !important;
            }
          }

          &.secondary {
            width: 100%;
            margin-bottom: 5px;
            margin-top: 5px;

            button {
              min-width: 95px;
              min-height: 40px;
              padding: 0;
            }
          }

          /* Chỉ hiện icon, ẩn text */
          .btn-text,
          .icon-down {
            display: none;
          }
        }
      }

      .mat-mdc-button > .mat-icon,
      .mat-mdc-raised-button > .mat-icon {
        margin-right: 0 !important;
      }
    }

    ::ng-deep .full-scroll-table-container {
      max-width: 100%;

      th.mat-mdc-header-cell {
        padding: 2px 4px !important;
        font-size: 10px !important;

        .search-container {
          padding: 0;
          margin: 0;

          .small-form-field {
            width: 150px !important;
            height: 50px !important;
            line-height: 12px;
            font-size: 13px !important;

            .mat-form-field-infix {
              padding: 0 2px !important;
            }

            mat-label {
              font-size: 8px !important;
              line-height: 10px !important;
            }

            input,
            .mat-select-trigger,
            mat-datepicker-toggle {
              font-size: 8px !important;
              height: 15px !important;
              padding: 0 2px !important;
            }
          }
        }

        mat-icon {
          font-size: 16px !important;
        }

        .mat-mdc-select {
          font-size: 9px !important;
        }
      }

      td.mat-mdc-cell {
        padding: 4px 6px !important;
        font-size: 11px !important;
      }

      .mat-column-locationId {
        min-width: 100px;
      }
    }

    // .demo-paginator{
    //   height: 50px;
    // }
  }
}

/* TABLET (600–959px) */
@media (min-width: 481px) and (max-width: 959px) {
  .main-page {
    max-width: 812px;
    padding-right: 1rem;
    margin-left: 0.5rem;

    .function-list {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      max-width: 812px;
      padding: 0 18px 8px 0;

      .group-title {
        margin-bottom: 4px;
      }

      .group-buttons-main {
        display: flex;
        width: 100%;
        padding: 0;
      }

      .group-buttons.primary {
        width: 40%;
        justify-content: flex-start;
        gap: 5px;

        button.btn-scan,
        button.btn-refresh {
          .btn-text {
            display: none;
          }

          justify-content: center !important;
          align-items: center !important;
          padding: 0px 0px 0 6px !important;
          min-width: 40px !important;
          min-height: 40px !important;
        }
        .scan-location-input {
          width: 90px !important;
        }
      }

      .group-buttons.secondary {
        width: 60%;
        justify-content: flex-end;
        gap: 8px;

        .btn-text,
        .icon-down {
          display: none;
        }

        button {
          padding: 0 !important;
          min-width: 40px !important;
          padding: 0px 0px 0 5px !important;
          min-height: 40px !important;
        }
      }
    }
  }

  ::ng-deep .full-scroll-table-container {
    max-width: 813px;

    th.mat-mdc-header-cell {
      padding: 4px 8px !important;
      font-size: 12px !important;

      .search-container {
        .small-form-field {
          // width: 100px !important;

          .mat-form-field-infix {
            padding: 0 2px !important;
          }

          mat-label {
            font-size: 9px !important;
            line-height: 11px !important;
          }

          input,
          .mat-select-trigger,
          mat-datepicker-toggle {
            font-size: 11px !important;
            height: 20px !important;
            padding: 0 2px !important;
          }
        }
      }

      mat-icon {
        font-size: 16px !important;
      }
    }

    tr.mat-mdc-row {
      height: 20px !important;
    }

    td.mat-mdc-cell {
      padding: 0 4px !important;
      font-size: 10px !important;
    }
  }
}

/* DESKTOP (>= 960px) */
@media (min-width: 960px) and (max-width: 1365px) {
  .main-page {
    width: 100%;
    padding-right: 1rem;
    padding-left: 0.5rem;

    .function-list {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      padding: 0 18px 8px 0;

      .group-buttons {
        gap: 10px;

        &.primary {
          width: 40%;
        }

        &.secondary {
          width: 60%;
        }

        button {
          padding: 4px 8px;
          font-size: 14px;
        }

        button.btn-export {
          font-size: 11px;
        }

        button.btn-column {
          .icon-down {
            display: none;
          }
        }

        .btn-text {
          display: inline;
        }
      }
    }

    ::ng-deep .full-scroll-table-container {
      width: 100%;

      th.mat-mdc-header-cell {
        padding: 6px 8px !important;
        font-size: 14px !important;

        .search-container {
          .small-form-field {
            // width: 100px !important;

            .mat-form-field-infix {
              padding: 0 2px !important;
            }

            mat-label {
              font-size: 9px !important;
              line-height: 12px !important;
            }

            input,
            .mat-select-trigger,
            mat-datepicker-toggle {
              font-size: 12px !important;
              height: 20px !important;
              padding: 0 2px !important;
            }
          }
        }

        .mat-mdc-select {
          font-size: 14px !important;
        }

        mat-icon {
          font-size: 20px !important;
        }
      }

      td.mat-mdc-cell {
        padding: 4px 6px !important;
        font-size: 13px !important;
      }
    }
  }
}

@media (min-width: 1440px) {
  .main-page {
    width: 100%;
    padding-right: 1rem;
    padding-left: 0.5rem;
  }
}
