<div
  class="main-page"
  style="display: flex; flex-direction: column; max-width: 97%"
>
  <div class="function-list">
    <div class="group-title">
      <h2>Tổng hợp vật tư</h2>
    </div>
    <div class="group-buttons-main">
      <div class="group-buttons primary"></div>
      <div class="group-buttons secondary">
        <!-- View mode -->
        <button mat-button [matMenuTriggerFor]="menu" class="btn-view">
          <mat-icon>visibility</mat-icon>
          <span class="btn-text">View</span>
          <!-- <mat-icon class="icon-down">keyboard_arrow_down</mat-icon> -->
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Danh sách chi tiết</button>
          <button mat-menu-item [matMenuTriggerFor]="subMenu">
            Danh sách tổng hợp
          </button>
        </mat-menu>

        <mat-menu #subMenu="matMenu">
          <form [formGroup]="form">
            <div (click)="$event.stopPropagation()">
              <mat-selection-list
                formControlName="sumary_modeControl"
                name="sumary_modes"
                [multiple]="false"
                color="primary"
              >
                <mat-list-option
                  *ngFor="let mode of sumary_modes"
                  [value]="mode.value"
                >
                  {{ mode.name }}
                </mat-list-option>
              </mat-selection-list>
            </div>
            <div
              style="display: flex; justify-content: flex-end; margin: 10px 0"
            >
              <button
                mat-button
                style="background-color: rgb(65, 235, 53); margin-right: 15px"
                (click)="onLoad()"
              >
                Load
              </button>
            </div>
          </form>
        </mat-menu>
        <button class="btn-export" mat-button (click)="export()">
          <mat-icon>file_download</mat-icon>
          <span class="btn-text">Xuất Excel</span>
        </button>
      </div>
    </div>
  </div>

  <div class="full-scroll-table-container">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 bordered-table"
      multiTemplateDataRows
    >
      <!-- Cột mở rộng (nút toggle) -->
      <ng-container matColumnDef="expand">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 50px; background-color: #548ce8"
        >
          <div
            style="
              color: white;
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;
            "
          >
            <span>Chi tiết</span>
            <div class="custom-checkbox-wrapper"></div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="toggleRow(element)">
            <mat-icon>
              {{
                expandedElement === element
                  ? "keyboard_arrow_up"
                  : "keyboard_arrow_down"
              }}
            </mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container
        *ngFor="let groupField of groupingFields"
        [matColumnDef]="groupField"
      >
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="background-color: #548ce8"
        >
          <div class="th-container">
            <div class="header-content">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  color: white;
                "
              >
                <div class="column-title">
                  {{
                    groupField
                      ? (groupField.toString() | titlecase)
                      : "Đang tải..."
                  }}
                </div>
                <div>
                  <mat-icon
                    [matMenuTriggerFor]="filterMenu"
                    style="color: white"
                    >filter_list</mat-icon
                  >
                </div>
              </div>
              <mat-menu #filterMenu="matMenu">
                <button
                  mat-menu-item
                  (click)="setFilterMode(groupField, 'contains')"
                >
                  Có chứa
                </button>
                <button
                  mat-menu-item
                  (click)="setFilterMode(groupField, 'equals')"
                >
                  Bằng
                </button>
              </mat-menu>
              <div class="search-container">
                <div class="custom-search-wrapper">
                  <mat-form-field
                    class="small-form-field"
                    appearance="fill"
                    floatLabel="always"
                  >
                    <mat-label>Search</mat-label>
                    <input
                      (keyup)="applyFilter(groupField, $event)"
                      matInput
                      [placeholder]="
                        'Search (' +
                        (filterModes[groupField] || 'contains') +
                        ')'
                      "
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element[groupField] }}</td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="background-color: #548ce8"
        >
          <div class="th-container">
            <div class="header-content">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  color: white;
                "
              >
                <div class="column-title">Total Quantity</div>
                <div>
                  <mat-icon
                    [matMenuTriggerFor]="filterTotalQuantity"
                    style="color: white"
                    >filter_list</mat-icon
                  >
                </div>
              </div>
              <mat-menu #filterTotalQuantity="matMenu">
                <button
                  mat-menu-item
                  (click)="setFilterMode('quantity', 'contains')"
                >
                  Có chứa
                </button>
                <button
                  mat-menu-item
                  (click)="setFilterMode('quantity', 'not_contains')"
                >
                  Không chứa
                </button>
                <button
                  mat-menu-item
                  (click)="setFilterMode('quantity', 'equals')"
                >
                  Bằng
                </button>
                <button
                  mat-menu-item
                  (click)="setFilterMode('quantity', 'not_equals')"
                >
                  Không bằng
                </button>
              </mat-menu>
              <div class="search-container">
                <div class="custom-search-wrapper">
                  <mat-form-field
                    class="small-form-field"
                    appearance="fill"
                    floatLabel="always"
                  >
                    <mat-label>Search</mat-label>
                    <input
                      (keyup)="applyFilter('quantity', $event)"
                      matInput
                      [placeholder]="
                        'Search (' +
                        (filterModes['quantity'] || 'contains') +
                        ')'
                      "
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element["quantity"] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="availableQuantity">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="background-color: #548ce8"
        >
          <div class="th-container">
            <div class="header-content">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  color: white;
                "
              >
                <div class="column-title">Total Available Quantity</div>
                <div>
                  <mat-icon
                    [matMenuTriggerFor]="filterTotalQuantity"
                    style="color: white"
                    >filter_list</mat-icon
                  >
                </div>
              </div>
              <mat-menu #filterTotalQuantity="matMenu">
                <button
                  mat-menu-item
                  (click)="setFilterMode('totalAvailableQuantity', 'contains')"
                >
                  Có chứa
                </button>
                <button
                  mat-menu-item
                  (click)="setFilterMode('availableQuantity', 'not_contains')"
                >
                  Không chứa
                </button>
                <button
                  mat-menu-item
                  (click)="setFilterMode('availableQuantity', 'equals')"
                >
                  Bằng
                </button>
                <button
                  mat-menu-item
                  (click)="setFilterMode('availableQuantity', 'not_equals')"
                >
                  Không bằng
                </button>
              </mat-menu>
              <div class="search-container">
                <div class="custom-search-wrapper">
                  <mat-form-field
                    class="small-form-field"
                    appearance="fill"
                    floatLabel="always"
                  >
                    <mat-label>Search</mat-label>
                    <input
                      (keyup)="applyFilter('availableQuantity', $event)"
                      matInput
                      [placeholder]="
                        'Search (' +
                        (filterModes['availableQuantity'] || 'contains') +
                        ')'
                      "
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element["availableQuantity"] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="recordCount">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="background-color: #548ce8"
        >
          <div class="th-container">
            <div class="header-content">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  color: white;
                "
              >
                <div class="column-title">Record Count</div>
                <div>
                  <mat-icon
                    [matMenuTriggerFor]="filtercount"
                    style="color: white"
                    >filter_list</mat-icon
                  >
                </div>
              </div>
              <mat-menu #filtercount="matMenu">
                <button
                  mat-menu-item
                  (click)="setFilterMode('recordCount', 'contains')"
                >
                  Có chứa
                </button>
                <button
                  mat-menu-item
                  (click)="setFilterMode('recordCount', 'not_contains')"
                >
                  Không chứa
                </button>
                <button
                  mat-menu-item
                  (click)="setFilterMode('recordCount', 'equals')"
                >
                  Bằng
                </button>
                <button
                  mat-menu-item
                  (click)="setFilterMode('recordCount', 'not_equals')"
                >
                  Không bằng
                </button>
              </mat-menu>
              <div class="search-container">
                <div class="custom-search-wrapper">
                  <mat-form-field
                    class="small-form-field"
                    appearance="fill"
                    floatLabel="always"
                  >
                    <mat-label>Search</mat-label>
                    <input
                      (keyup)="applyFilter('recordCount', $event)"
                      matInput
                      [placeholder]="
                        'Search (' +
                        (filterModes['recordCount'] || 'contains') +
                        ')'
                      "
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element["recordCount"] }}</td>
      </ng-container>
      <ng-container matColumnDef="detailRow">
        <td
          mat-cell
          *matCellDef="let row"
          [attr.colspan]="displayedColumns.length"
        >
          <div class="inner-table" style="padding: 16px">
            <div>
              <!-- thêm thông tin bảng đang hiển thị -->
              <button
                style="margin: 15px; float: right"
                mat-raised-button
                (click)="exportDetailExcel(row)"
              >
                <mat-icon> file_download</mat-icon>Xuất Excel
              </button>
            </div>
            <table
              mat-table
              [dataSource]="row.detailDataSource"
              class="mat-elevation-z2"
              style="width: 100%"
            >
              <ng-container matColumnDef="partNumber">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  style="background-color: #548ce8"
                >
                  <div class="th-container">
                    <div class="header-content">
                      <div
                        style="
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                          color: white;
                        "
                      >
                        <div class="column-title">Part Number</div>
                        <div>
                          <mat-icon
                            [matMenuTriggerFor]="filterInventoryId"
                            style="color: white"
                            >filter_list</mat-icon
                          >
                        </div>
                      </div>
                      <mat-menu #filterInventoryId="matMenu">
                        <button
                          mat-menu-item
                          (click)="
                            setFilterModeDetail(row, 'partNumber', 'contains')
                          "
                        >
                          Contains
                        </button>
                        <button
                          mat-menu-item
                          (click)="
                            setFilterModeDetail(row, 'partNumber', 'equals')
                          "
                        >
                          Equals
                        </button>
                      </mat-menu>
                      <div class="search-container">
                        <div class="custom-search-wrapper">
                          <mat-form-field
                            class="small-form-field"
                            appearance="fill"
                            floatLabel="always"
                          >
                            <mat-label>Search</mat-label>
                            <input
                              (keyup)="
                                applyDetailFilter(row, 'partNumber', $event)
                              "
                              matInput
                              [placeholder]="
                                'Search (' +
                                (filterModesDetail['partNumber'] ||
                                  'contains') +
                                ')'
                              "
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <td mat-cell *matCellDef="let detail">
                  {{ detail.partNumber }}
                </td>
              </ng-container>
              <ng-container matColumnDef="availableQuantity">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  style="background-color: #548ce8"
                >
                  <div class="th-container">
                    <div class="header-content">
                      <div
                        style="
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                          color: white;
                        "
                      >
                        <div class="column-title">Available Quantity</div>
                        <div>
                          <mat-icon
                            [matMenuTriggerFor]="filterAvailableQuantity"
                            style="color: white"
                            >filter_list</mat-icon
                          >
                        </div>
                      </div>
                      <mat-menu #filterAvailableQuantity="matMenu">
                        <button
                          mat-menu-item
                          (click)="
                            setFilterModeDetail(
                              row,
                              'availableQuantity',
                              'contains'
                            )
                          "
                        >
                          Có chứa
                        </button>
                        <button
                          mat-menu-item
                          (click)="
                            setFilterModeDetail(
                              row,
                              'availableQuantity',
                              'equals'
                            )
                          "
                        >
                          Bằng
                        </button>
                      </mat-menu>
                      <div class="search-container">
                        <div class="custom-search-wrapper">
                          <mat-form-field
                            class="small-form-field"
                            appearance="fill"
                            floatLabel="always"
                          >
                            <mat-label>Search</mat-label>
                            <input
                              (keyup)="
                                applyDetailFilter(
                                  row,
                                  'availableQuantity',
                                  $event
                                )
                              "
                              matInput
                              [placeholder]="
                                'Search (' +
                                (filterModesDetail['availableQuantity'] ||
                                  'contains') +
                                ')'
                              "
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <td mat-cell *matCellDef="let detail">
                  {{ detail.availableQuantity }}
                </td>
              </ng-container>
              <ng-container matColumnDef="lotNumber">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  style="background-color: #548ce8"
                >
                  <div class="th-container">
                    <div class="header-content">
                      <div
                        style="
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                          color: white;
                        "
                      >
                        <div class="column-title">Lot Number</div>
                        <div>
                          <mat-icon
                            [matMenuTriggerFor]="filterLotNumber"
                            style="color: white"
                            >filter_list</mat-icon
                          >
                        </div>
                      </div>
                      <mat-menu #filterLotNumber="matMenu">
                        <button
                          mat-menu-item
                          (click)="
                            setFilterModeDetail(row, 'lotNumber', 'contains')
                          "
                        >
                          Có chứa
                        </button>
                        <button
                          mat-menu-item
                          (click)="
                            setFilterModeDetail(row, 'lotNumber', 'equals')
                          "
                        >
                          Bằng
                        </button>
                      </mat-menu>
                      <div class="search-container">
                        <div class="custom-search-wrapper">
                          <mat-form-field
                            class="small-form-field"
                            appearance="fill"
                            floatLabel="always"
                          >
                            <mat-label>Search</mat-label>
                            <input
                              (keyup)="
                                applyDetailFilter(row, 'lotNumber', $event)
                              "
                              matInput
                              [placeholder]="
                                'Search (' +
                                (filterModesDetail['lotNumber'] || 'contains') +
                                ')'
                              "
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <td mat-cell *matCellDef="let detail">
                  {{ detail.lotNumber }}
                </td>
              </ng-container>
              <ng-container matColumnDef="receivedDate">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  style="background-color: #548ce8"
                >
                  <div class="th-container">
                    <div class="header-content">
                      <div
                        style="
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                          color: white;
                        "
                      >
                        <div class="column-title">Received Date</div>
                        <div>
                          <mat-icon
                            [matMenuTriggerFor]="filterReceivedDate"
                            style="color: white"
                            >filter_list</mat-icon
                          >
                        </div>
                      </div>
                      <mat-menu #filterReceivedDate="matMenu">
                        <button
                          mat-menu-item
                          (click)="
                            setFilterModeDetail(row, 'receivedDate', 'contains')
                          "
                        >
                          Có chứa
                        </button>
                        <button
                          mat-menu-item
                          (click)="
                            setFilterModeDetail(row, 'receivedDate', 'equals')
                          "
                        >
                          Bằng
                        </button>
                      </mat-menu>
                      <div class="search-container">
                        <div class="custom-search-wrapper">
                          <mat-form-field
                            class="small-form-field"
                            appearance="fill"
                            floatLabel="always"
                          >
                            <mat-label>Search</mat-label>
                            <input
                              (keyup)="
                                applyDetailFilter(row, 'receivedDate', $event)
                              "
                              matInput
                              [placeholder]="
                                'Search (' +
                                (filterModesDetail['receivedDate'] ||
                                  'contains') +
                                ')'
                              "
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <td mat-cell *matCellDef="let detail">
                  {{ detail.receivedDate | timestampToDate }}
                </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  style="background-color: #548ce8"
                >
                  <div class="th-container">
                    <div class="header-content">
                      <div
                        style="
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                          color: white;
                        "
                      >
                        <div class="column-title">Status</div>
                        <div>
                          <mat-icon
                            [matMenuTriggerFor]="filterStatus"
                            style="color: white"
                            >filter_list</mat-icon
                          >
                        </div>
                      </div>
                      <mat-menu #filterStatus="matMenu">
                        <button
                          mat-menu-item
                          (click)="
                            setFilterModeDetail(row, 'status', 'contains')
                          "
                        >
                          Contains
                        </button>
                        <button
                          mat-menu-item
                          (click)="setFilterModeDetail(row, 'status', 'equals')"
                        >
                          Equals
                        </button>
                      </mat-menu>
                      <div class="search-container">
                        <div class="custom-search-wrapper">
                          <mat-form-field
                            class="small-form-field"
                            appearance="fill"
                            floatLabel="always"
                          >
                            <mat-label>Search Status</mat-label>
                            <mat-select
                              [placeholder]="
                                'Search (' +
                                (filterModesDetail['status'] || 'equals') +
                                ')'
                              "
                              [value]="
                                (searchTerms['status'] || {}).value || ''
                              "
                              (selectionChange)="
                                applySelectFilterDetail(
                                  row,
                                  'status',
                                  $event.value
                                )
                              "
                            >
                              <mat-option
                                *ngFor="let opt of statusOptions"
                                [value]="opt.value"
                              >
                                {{ opt.view }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <td mat-cell *matCellDef="let detail">
                  {{ detail.status | statusLabel }}
                </td>
              </ng-container>
              <ng-container matColumnDef="expirationDate">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  style="background-color: #548ce8"
                >
                  <div class="th-container">
                    <div class="header-content">
                      <div
                        style="
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                          color: white;
                        "
                      >
                        <div class="column-title">Expiration Date</div>
                        <div>
                          <mat-icon
                            [matMenuTriggerFor]="filterexpirationDate"
                            style="color: white"
                            >filter_list</mat-icon
                          >
                        </div>
                      </div>
                      <mat-menu #filterexpirationDate="matMenu">
                        <button
                          mat-menu-item
                          (click)="
                            setFilterModeDetail(
                              row,
                              'expirationDate',
                              'contains'
                            )
                          "
                        >
                          Contains
                        </button>
                        <button
                          mat-menu-item
                          (click)="
                            setFilterModeDetail(row, 'expirationDate', 'equals')
                          "
                        >
                          Equals
                        </button>
                      </mat-menu>
                      <div class="search-container">
                        <div class="custom-search-wrapper">
                          <mat-form-field
                            class="small-form-field"
                            appearance="fill"
                            floatLabel="always"
                          >
                            <mat-label>Search Date</mat-label>
                            <input
                              matInput
                              [matDatepicker]="picker"
                              [placeholder]="
                                'Search (' +
                                (filterModes['expirationDate'] || 'contains') +
                                ')'
                              "
                              (dateChange)="
                                applyDateFilter(row, 'expirationDate', $event)
                              "
                            />
                            <mat-datepicker-toggle
                              matSuffix
                              [for]="picker"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </th>
                <td mat-cell *matCellDef="let detail">
                  {{ detail.expirationDate | timestampToDate }}
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="[
                  'partNumber',
                  'lotNumber',
                  'receivedDate',
                  'availableQuantity',
                  'expirationDate',
                  'status',
                ]"
              ></tr>
              <tr
                mat-row
                *matRowDef="
                  let row;
                  columns: [
                    'partNumber',
                    'lotNumber',
                    'receivedDate',
                    'availableQuantity',
                    'expirationDate',
                    'status',
                  ]
                "
              ></tr>
            </table>
            <mat-paginator
              #detailPaginator
              [pageSizeOptions]="[15, 20, 25]"
              [pageSize]="15"
              [length]="row.detailDataSource?.data.length || 0"
              showFirstLastButtons
            >
            </mat-paginator>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="element-row"
        [class.expanded]="expandedElement === row"
      ></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: ['detailRow']"
        class="detail-row"
        [@detailExpand]="row === expandedElement ? 'expanded' : 'collapsed'"
      ></tr>
    </table>
  </div>

  <div>
    <mat-paginator
      #paginator
      class="demo-paginator"
      [length]="length"
      [pageSize]="pageSize"
      [disabled]="disabled"
      [showFirstLastButtons]="showFirstLastButtons"
      [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
      [hidePageSize]="hidePageSize"
      [pageIndex]="pageIndex"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
