<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-lich-su-update-heading" data-cy="LichSuUpdateCreateUpdateHeading">Create or edit a Lich Su Update</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_maKichBan">Ma Kich Ban</label>
          <input type="text" class="form-control" name="maKichBan" id="field_maKichBan" data-cy="maKichBan" formControlName="maKichBan" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_maThietBi">Ma Thiet Bi</label>
          <input type="text" class="form-control" name="maThietBi" id="field_maThietBi" data-cy="maThietBi" formControlName="maThietBi" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_loaiThietBi">Loai Thiet Bi</label>
          <input
            type="text"
            class="form-control"
            name="loaiThietBi"
            id="field_loaiThietBi"
            data-cy="loaiThietBi"
            formControlName="loaiThietBi"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dayChuyen">Day Chuyen</label>
          <input type="text" class="form-control" name="dayChuyen" id="field_dayChuyen" data-cy="dayChuyen" formControlName="dayChuyen" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_maSanPham">Ma San Pham</label>
          <input type="text" class="form-control" name="maSanPham" id="field_maSanPham" data-cy="maSanPham" formControlName="maSanPham" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_versionSanPham">Version San Pham</label>
          <input
            type="text"
            class="form-control"
            name="versionSanPham"
            id="field_versionSanPham"
            data-cy="versionSanPham"
            formControlName="versionSanPham"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_timeUpdate">Time Update</label>
          <div class="d-flex">
            <input
              id="field_timeUpdate"
              data-cy="timeUpdate"
              type="datetime-local"
              class="form-control"
              name="timeUpdate"
              formControlName="timeUpdate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
