@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.function-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: nowrap;
  padding: 0;

  .group-title {
    flex: 0 0 auto;
  }

  .group-buttons-main {
    display: flex;
    width: 100%;
  }

  .group-buttons {
    display: flex;
    align-items: center;
    gap: 15px;

    &.primary,
    &.secondary {
      width: 50%;

      button {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: #fff;
      }

      .btn-text {
        display: inline;
      }
    }

    &.primary {
      justify-content: flex-start;

      .listupdate-with-badge {
        position: relative;
        display: inline-block;
      }

      .cart-badge {
        position: absolute;
        top: -10px;
        right: -4px;
        background-color: rgb(48, 58, 188);
        color: white;
        border-radius: 50%;
        padding: 0px 7px;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5;
        min-width: 20px;
        height: 20px;
        text-align: center;
      }
    }

    &.secondary {
      justify-content: flex-end;
    }
  }
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.overlay-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 105%;
  height: 105vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

.bordered-table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;

  .mat-column-select {
    text-align: center;

    ::ng-deep .mat-mdc-checkbox {
      .mdc-form-field > label {
        padding-left: 0px !important;
      }
    }
  }

  th.mat-header-cell .mat-form-field {
    width: 100%;
  }

  // td.mat-cell, td.mat-mdc-cell {

  // }
}

.bordered-table th,
.bordered-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  font-weight: bold;
  text-align: left;
}

.listupdate-with-badge {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: rgb(48, 58, 188);
  color: white;
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  min-width: 30px;
  text-align: center;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

table {
  // width: 100%;
  // table-layout: auto;
  border-collapse: collapse;
  // width: 1660px;
}

th,
td {
  padding: 8px;
  text-align: left;
  white-space: nowrap;
}

th {
  height: 50px;
  background-color: #548ce8;
}

.mat-header-cell.search-header {
  padding: 0;
  overflow: visible;
}

::ng-deep .mat-mdc-select-value {
  font-size: 13px;
}

::ng-deep .mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper {
  transform: none !important;
}

.header-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-container {
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
}

.search-container mat-form-field {
  width: 100%;
}

.search-container .mat-form-field-wrapper {
  padding-bottom: 0;
}

.search-container .mat-form-field-outline {
  background-color: white;
  border-radius: 4px;
}

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-hint-spacer {
  display: none !important;
}

.custom-search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-search-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.mat-mdc-table {
  width: 100%;
  max-height: 150px;
  // overflow: auto;
}

.mat-column-name {
  height: 50;
}

.search-container mat-form-field input.mat-input-element {
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.search-header {
  padding: 0;
  margin: 0;
}

//

.column-title {
  color: white;
}

.search-container {
  padding: 0px;

  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.custom-search-wrapper {
  height: 20px;
}

.mat-checkbox-frame {
  border-color: white !important;
}

.mdc-checkbox__background {
  color: white !important;
}

.mdc-checkbox__mixedmark {
  color: white !important;
}

.mat-column-Material ID {
  flex: 0 0 150px;
}

.mat-column-vendor {
  flex: 0 0 120px;
  word-wrap: break-word;
  white-space: normal;
}

.custom-search-wrapper {
  width: 100%;
}

.custom-search-input {
  width: 98%;
  padding: 12px 1px 1px 4px;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid #ccc;
  align-items: center;
  margin-left: -2px;
}

.th {
  background-color: #548ce8;
  gap: 0;
}

::ng-deep .small-form-field {
  @include mat.form-field-density(-5);
  @include mat.icon-button-density(-5);
  @include mat.datepicker-density(-5);
}

.small-form-field {
  width: 180px !important;
  font-size: 13px !important;
}

// ::ng-deep .mat-mdc-form-field-icon-suffix{
//   top: -5px;
// }
::ng-deep .mat-datepicker-toggle {
  width: 24px;
  height: 24px;
}

//  height: 400px;
//   width: 550px;
//   max-width: 100%;
//   overflow: auto;

// .mat-table {
//   width: max-content;
//   min-width: 100%;
// }
::ng-deep .mat-mdc-header-row,
::ng-deep .mat-mdc-header-cell {
  position: sticky !important;
  top: 0;
  z-index: 100;
  background: #548ce8;
}

.main-page {
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 1860px;
}

.full-scroll-table-container {
  height: 900px;
  //  width: 1860px;
  // width: 1860px;
  max-width: 100%;
  overflow: auto;
}

.scan-error {
  color: #f44336;
  font-size: 14px;
}

/* MOBILE (< 600px) */
@media (max-width: 599px) {
  .main-page {
    width: 550px;

    .function-list {
      flex-direction: column;
      align-items: stretch;
      gap: 12px;
      padding: 8px;

      .group-title {
        text-align: left;
      }

      .group-buttons-main {
        flex-direction: column;

        .group-buttons {
          justify-content: flex-start;
          width: 100%;

          &.primary {
            width: 100%;
            margin-bottom: 5px;
            margin-top: 5px;

            button {
              min-width: 80px;
              min-height: 40px;
              padding: 0;
            }
          }

          &.secondary {
            width: 100%;
            margin-bottom: 5px;
            margin-top: 5px;

            button {
              min-width: 80px;
              min-height: 40px;
              padding: 0;
            }
          }

          /* Chỉ hiện icon, ẩn text */
          .btn-text,
          .icon-down {
            display: none;
          }
        }
      }

      .scan-error {
        font-size: 12px;
        text-align: center;
      }

      .mat-mdc-button > .mat-icon,
      .mat-mdc-raised-button > .mat-icon {
        margin-right: 0 !important;
      }
    }

    ::ng-deep .full-scroll-table-container {
      max-width: 100%;

      th.mat-mdc-header-cell {
        padding: 2px 4px !important;
        font-size: 10px !important;

        .search-container {
          padding: 0;
          margin: 0;

          .small-form-field {
            width: 150px !important;
            height: 50px !important;
            line-height: 12px;
            font-size: 13px !important;

            .mat-form-field-infix {
              padding: 0 2px !important;
            }

            mat-label {
              font-size: 8px !important;
              line-height: 10px !important;
            }

            input,
            .mat-select-trigger,
            mat-datepicker-toggle {
              font-size: 8px !important;
              height: 15px !important;
              padding: 0 2px !important;
            }
            .mat-mdc-select {
              font-size: 9px !important;
            }
          }
        }

        mat-icon {
          font-size: 16px !important;
        }
      }

      td.mat-mdc-cell {
        padding: 4px 6px !important;
        font-size: 11px !important;
      }

      .mat-column-locationId {
        min-width: 100px;
      }
    }
  }
}

/* TABLET (600–959px) */
@media (min-width: 600px) and (max-width: 959px) {
  .main-page {
    max-width: 812px;

    .function-list {
      flex-direction: column;
      align-items: flex-start;
      max-width: 812px;
      gap: 8px;
      padding: 0 18px 0 0;

      .group-title {
        margin-bottom: 4px;
        font-weight: bold;
      }

      .group-buttons-main {
        display: flex;
        width: 100%;
        padding: 0;
      }

      .group-buttons.primary {
        width: 70%;
        justify-content: flex-start;
        gap: 5px;

        button.btn-scan,
        button.btn-refresh {
          .btn-text {
            display: none;
          }

          justify-content: center !important;
          align-items: center !important;
          padding: 0px 0px 0 6px !important;
          min-width: 40px !important;
          min-height: 40px !important;
        }
      }

      .group-buttons.secondary {
        width: 30%;
        justify-content: flex-end;
        gap: 8px;

        .btn-text,
        .icon-down {
          display: none;
        }

        button {
          padding: 0 !important;
          min-width: 40px !important;
          padding: 0px 0px 0 8px !important;
          min-height: 40px !important;
        }
      }
    }

    .full-scroll-table-container {
      max-width: 813px;
    }

    ::ng-deep table {
      th.mat-mdc-header-cell {
        padding: 4px 8px !important;
        font-size: 12px !important;

        .search-container {
          .small-form-field {
            // width: 100px !important;

            .mat-form-field-infix {
              padding: 0 2px !important;
            }

            mat-label {
              font-size: 9px !important;
              line-height: 11px !important;
            }

            input,
            .mat-select-trigger,
            mat-datepicker-toggle {
              font-size: 11px !important;
              height: 20px !important;
              padding: 0 2px !important;
            }
          }
        }

        mat-icon {
          font-size: 16px !important;
        }
      }

      tr.mat-mdc-row {
        height: 20px !important;
      }

      td.mat-mdc-cell {
        padding: 0 4px !important;
        font-size: 10px !important;
      }
    }
  }
}

/* DESKTOP (>= 960px) */
@media (min-width: 959px) and (max-width: 1439px) {
  .main-page {
    .overlay-spinner {
      width: 100%;
      height: 100%;
    }

    .function-list {
      flex-direction: row;
      align-items: flex-start;
      gap: 8px;
      padding: 0 18px 0 0;

      .group-title {
        margin-bottom: 4px;
      }

      .group-buttons-main {
        display: flex;
        width: 100%;
        padding: 0;
      }

      .group-buttons.primary {
        width: 70%;
        justify-content: flex-start;
        gap: 5px;

        button.btn-scan,
        button.btn-refresh {
          .btn-text {
            display: none;
          }

          justify-content: center !important;
          align-items: center !important;
          padding: 0px 0px 0 6px !important;
          min-width: 40px !important;
          min-height: 40px !important;
        }
      }

      .group-buttons.secondary {
        width: 30%;
        justify-content: flex-end;
        gap: 8px;

        .btn-text,
        .icon-down {
          display: none;
        }

        button {
          padding: 0 !important;
          min-width: 40px !important;
          padding: 0px 0px 0 5px !important;
          min-height: 40px !important;
        }
      }
    }
  }
}

/* DESKTOP (>= 1440px) */
@media (min-width: 1440px) {
  .function-list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 10px 0px;

    .group-buttons {
      gap: 10px;

      button {
        padding: 4px 8px;
        font-size: 14px;
      }

      button.btn-export {
        font-size: 11px;
      }

      .btn-text {
        display: inline;
      }
    }
  }
}
