<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="thongSoMay">
      <h2 data-cy="thongSoMayDetailsHeading"><span>Thong So May</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>STT</span></dt>
        <dd>
          <span>{{ thongSoMay.id }}</span>
        </dd>
        <dt><span>Mã thiết bị</span></dt>
        <dd>
          <span>{{ thongSoMay.maThietBi }}</span>
        </dd>
        <dt><span>Nhóm thiết bị</span></dt>
        <dd>
          <span>{{ thongSoMay.loaiThietBi }}</span>
        </dd>
        <dt><span>Dây chuyền</span></dt>
        <dd>
          <span>{{ thongSoMay.hangTms }}</span>
        </dd>
        <dt><span>Ngày tạo</span></dt>
        <dd>
          <span>{{ thongSoMay.thongSo }}</span>
        </dd>
        <dt><span>Ngày cập nhật</span></dt>
        <dd>
          <span>{{ thongSoMay.moTa }}</span>
        </dd>
        <dt><span>Thông số</span></dt>
        <dd>
          <span>{{ thongSoMay.trangThai }}</span>
        </dd>
        <dt><span>Mô tả</span></dt>
        <dd>
          <span>{{ thongSoMay.phanLoai }}</span>
        </dd>
        <dt><span>Trạng thái</span></dt>
        <dd>
          <span>{{ thongSoMay.phanLoai }}</span>
        </dd>
        <dt><span>Phân loại</span></dt>
        <dd>
          <div *ngIf="thongSoMay.thietBi">
            <a [routerLink]="['/thiet-bi', thongSoMay.thietBi?.id, 'view']">{{ thongSoMay.thietBi?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <!-- <button type="button" [routerLink]="['/thong-so-may', thongSoMay.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button> -->
    </div>
  </div>
</div>
