// id="main" class="container-fluid" style="padding-top: 12px; margin-left: 52px"
#main {
  padding-top: 20px;
  padding-left: 17px;
  margin-left: 60px;
  height: calc((var(--vh) * 100) - 80px);
  width: calc(100% - 60px);
}

@media (max-width: 599px) {
  #main {
    margin-left: 0 !important;
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  #main {
    // margin-top: 60px;
    margin-left: 0 !important;
    width: 100%;
  }
}

@media (min-width: 960px) {
  #main {
    margin-top: 50px;
    margin-left: 60px;
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  #main {
    padding-top: 0px;
  }
}
