<div class="container mat-elevation-z2">
  <!-- Header -->
  <div class="header">
    <div style="display: flex; gap: 30px">
      <h1>Quản lý thông tin TEM vật tư</h1>
    </div>
    <div class="header-actions">
      <button mat-raised-button color="primary" [routerLink]="['import']">
        <mat-icon>publish</mat-icon>
        Import thông tin
      </button>
    </div>
  </div>

  <!-- <mat-divider class="my-3"></mat-divider> -->

  <!-- Table -->
  <div class="table-container">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      class="mat-elevation-z1"
      multiTemplateDataRows
    >
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Trạng thái</th>
        <td mat-cell *matCellDef="let item">
          <mat-chip
            [color]="statusColor(item.status)"
            selected
            class="min-w-24 text-center"
          >
            {{ item.status }}
          </mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="vendor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã NCC</th>
        <td mat-cell *matCellDef="let item">{{ item.vendor }}</td>
      </ng-container>

      <ng-container matColumnDef="userData5">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã PO</th>
        <td mat-cell *matCellDef="let item">{{ item.userData5 }}</td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày tạo</th>
        <td mat-cell *matCellDef="let item">
          {{ item.createdDate | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tạo bởi</th>
        <td mat-cell *matCellDef="let item">{{ item.createdBy }}</td>
      </ng-container>

      <ng-container matColumnDef="numberProduction">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Số hàng hóa</th>
        <td mat-cell *matCellDef="let item">{{ item.numberProduction }}</td>
      </ng-container>

      <ng-container matColumnDef="totalQuantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tổng số lượng</th>
        <td mat-cell *matCellDef="let item">{{ item.totalQuantity }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Thao tác</th>
        <td mat-cell *matCellDef="let item">
          <div class="action-buttons">
            <button
              mat-icon-button
              (click)="onView(item)"
              matTooltip="Xem thông tin tem in"
            >
              <mat-icon color="primary">info_circle_outline</mat-icon>
            </button>

            <button
              mat-icon-button
              [routerLink]="['detail', item.id]"
              matTooltip="Chi tiết"
            >
              <mat-icon>visibility</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="onDelete(item)"
              matTooltip="Xóa"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <!-- Header & Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <!-- Paginator -->
  <mat-divider class="my-3"></mat-divider>
  <mat-paginator
    [length]="totalItems"
    [pageSize]="25"
    [pageSizeOptions]="[25, 50, 100]"
  >
  </mat-paginator>
</div>
