<form *ngIf="thietBi" name="deleteForm" (ngSubmit)="confirmDelete(thietBi.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="thietBiDeleteDialogHeading">Xác nhận xóa</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <p id="jhi-delete-thietBi-heading">Bạn có muốn xóa?</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span>Hủy</span>
    </button>

    <button id="jhi-confirm-delete-thietBi" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span>Xóa</span>
    </button>
  </div>
</form>
