* {
  font-family: "Nunito", sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.headling-detail {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 1px 5px;
}

.headling-btn {
  display: flex;
  gap: 10px;
}

th {
  color: #fff;
  background-color: #3d7bb9;
  text-align: left;
  padding: 8px;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #d2e7f1;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

tr {
  background-color: #f8f8f8;
}

td {
  padding: 8px;
  border: 1px solid #ccc;
  width: auto;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
}

.btn-info {
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
}

.export-btn {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  float: right;
}

.export-excel {
  background-color: #4caf50;
  color: white;
}

.exportCSV {
  background-color: #008cba;
  color: white;
}

.export-excel:hover {
  background-color: #45a049;
}

a.export,
a.export:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  background-color: #ddd;
  border: 1px solid #ccc;
  padding: 8px;
}

.custom-width {
  display: inline-block;
  width: 10rem;
}
