<div style="z-index: 999">
  <header
    class="app-header"
    [class.collapsed]="isCollapsed"
    [class.expanded]="!isCollapsed"
  >
    <!-- Collapse sidebar -->
    <button class="btn-collapse" (click)="toggleSidebar()">
      <fa-icon icon="bars"></fa-icon>
    </button>

    <!-- Logout -->
    <ng-container *ngIf="account; else loginBtn">
      <button
        mat-button
        [matMenuTriggerFor]="accountMenu"
        class="login-button"
        style="color: white"
      >
        <fa-icon
          [icon]="faUserCircle"
          style="width: 30px; font-size: 30px"
        ></fa-icon>
        <span *ngIf="!isCollapsed">{{ account.login }}</span>
      </button>
      <mat-menu class="menu-lg-button" #accountMenu="matMenu">
        <button
          mat-menu-item
          routerLink="/account/settings"
          (click)="closeAccountDropdown()"
        >
          <fa-icon [icon]="faGear"></fa-icon>
          <span>Cài đặt</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <fa-icon [icon]="faRightFromBracket"></fa-icon>
          <span>Đăng xuất</span>
        </button>
      </mat-menu>
    </ng-container>

    <ng-template #loginBtn>
      <button mat-button (click)="login()" style="color: white">
        <fa-icon [icon]="faRightToBracket" style="font-size: 30px"></fa-icon>
        <span>Đăng nhập</span>
      </button>
    </ng-template>
  </header>
  <ng-container *ngIf="isHandset$ | async">
    <div
      class="sidebar-overlay"
      *ngIf="!isCollapsed"
      (click)="collapseNavbar()"
    ></div>
  </ng-container>

  <div
    id="sidebar-id"
    class="sidebar col-md-3"
    style="width: 60px; padding-bottom: 0px"
    [class.collapsed]="isCollapsed && !(isHandset$ | async)"
    [class.expanded]="!isCollapsed && !(isHandset$ | async)"
    [class.hidden]="isCollapsed && (isHandset$ | async)"
  >
    <a
      style="
        margin-left: 3px;
        padding-top: 5px;
        padding-top: 0px;
        margin-bottom: 0px;
      "
      class="sidebar-brand logo"
      (click)="collapseNavbar()"
    >
      <img
        style="margin-bottom: 0px"
        src="../../../content/images/logo-rang-dong.webp"
        alt="Logo-RangDong"
        class="sidebar-img"
      />
    </a>
    <div [ngSwitch]="account !== null">
      <nav id="manu-bar" style="max-width: 400px; height: 80vh">
        <div class="sidebar-content" style="margin-right: 10px">
          <div class="sidebar-menu">
            <ul
              style="list-style-type: none; padding-left: 10px; margin-top: 2px"
            >
              <li
                class="sidebar-menu-item"
                style="marker: none"
                *ngFor="let menu of menus"
                [ngClass]="{
                  active: menu.active,
                  'sidebar-dropdown': menu.type === 'dropdown',
                }"
              >
                <div
                  class="sidebar-menu-link"
                  *ngIf="menu.type !== 'header'"
                  (click)="toggle(menu)"
                  style="height: 50px"
                >
                  <div
                    routerLink="/"
                    style="display: flex; align-items: center"
                    *ngIf="menu.type === 'home'"
                  >
                    <fa-icon
                      [icon]="faHome"
                      class="sidebar-menu-icon"
                    ></fa-icon>
                    <a>
                      <span class="sidebar-menu-title">{{ menu.title }}</span>
                    </a>
                  </div>
                  <div
                    style="display: flex; align-items: center"
                    *ngIf="menu.type !== 'home'"
                  >
                    <fa-icon
                      [icon]="menu.icon"
                      class="sidebar-menu-icon"
                    ></fa-icon>
                    <a>
                      <span class="sidebar-menu-title">{{ menu.title }}</span>
                    </a>
                  </div>
                </div>
                <div
                  *ngIf="menu.type === 'dropdown'"
                  class="sidebar-submenu"
                  [@slide]="getState(menu)"
                >
                  <ul>
                    <li
                      class="sidebar-submenu-item"
                      *ngFor="let submenu of menu.submenus"
                    >
                      <div class="sidebar-submenu-link">
                        <a
                          class="sidebar-submenu-title"
                          [routerLink]="submenu.link"
                          style="
                            display: flex;
                            align-items: center;
                            height: 100%;
                          "
                        >
                          {{ submenu.title }}
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
