<div>
  <h2 id="page-heading" data-cy="ChiTietSanXuatHeading">
    <span>Chi Tiet San Xuats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-chi-tiet-san-xuat"
        [routerLink]="['/chi-tiet-san-xuat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Chi Tiet San Xuat </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="chiTietSanXuats?.length === 0">
    <span>No chiTietSanXuats found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="chiTietSanXuats && chiTietSanXuats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="maKichBan"><span>Ma Kich Ban</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="hangSxhn"><span>Hang Sxhn</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="thongSo"><span>Thong So</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="minValue"><span>Min Value</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="maxValue"><span>Max Value</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="trungbinh"><span>Trungbinh</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="donVi"><span>Don Vi</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sanXuatHangNgay.id"><span>San Xuat Hang Ngay</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chiTietSanXuat of chiTietSanXuats; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/chi-tiet-san-xuat', chiTietSanXuat.id, 'view']">{{ chiTietSanXuat.id }}</a>
          </td>
          <td>{{ chiTietSanXuat.maKichBan }}</td>
          <td>{{ chiTietSanXuat.hangSxhn }}</td>
          <td>{{ chiTietSanXuat.thongSo }}</td>
          <td>{{ chiTietSanXuat.minValue }}</td>
          <td>{{ chiTietSanXuat.maxValue }}</td>
          <td>{{ chiTietSanXuat.trungbinh }}</td>
          <td>{{ chiTietSanXuat.donVi }}</td>
          <td>
            <div *ngIf="chiTietSanXuat.sanXuatHangNgay">
              <a [routerLink]="['/san-xuat-hang-ngay', chiTietSanXuat.sanXuatHangNgay?.id, 'view']">{{
                chiTietSanXuat.sanXuatHangNgay?.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/chi-tiet-san-xuat', chiTietSanXuat.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/chi-tiet-san-xuat', chiTietSanXuat.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(chiTietSanXuat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="chiTietSanXuats && chiTietSanXuats.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
