<div>
  <h2 id="page-heading" data-cy="ProfileCheckHeading">
    <span>Quản lý trạm thông tin kiểm tra</span>
  </h2>
  <div class="d-flex justify-content-end" style="width: 97%">
    <button
      class="btn btn-info me-2"
      style="padding: 10px 20px"
      (click)="openPopupAddNewProduct()"
    >
      <fa-icon icon="add"></fa-icon>
      <span>Thêm mới</span>
    </button>
  </div>

  <div class="table-responsive">
    <table class="table" aria-describedby="page-heading">
      <thead>
        <tr
          jhiSort
          [(predicate)]="predicate"
          [(ascending)]="ascending"
          (sortChange)="loadPage()"
        >
          <th scope="col" jhiSortBy="STT">
            <span>STT</span>
            <input
              type="text"
              style="width: 1px; border: none; background-color: #6c7ae0"
            />
          </th>
          <th scope="col" jhiSortBy="productCode">
            <span>Mã sản phẩm</span>
            <input
              #searchInput
              type="text"
              [(ngModel)]="productCode"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Tìm kiếm"
              (change)="findFucntion()"
            />
          </th>
          <th scope="col" jhiSortBy="productName">
            <span>Tên sản phẩm</span>
            <input
              #searchInput
              type="text"
              [(ngModel)]="productName"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Tìm kiếm"
              (change)="findFucntion()"
            />
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <span>Thời gian tạo</span>
            <input
              #searchInput
              type="date"
              [(ngModel)]="createdAt"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Tìm kiếm"
              (change)="findFucntion()"
            />
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <span>Thời gian cập nhật</span>
            <input
              #searchInput
              type="text"
              [(ngModel)]="updatedAt"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Tìm kiếm"
              disabled
            />
          </th>
          <th scope="col" jhiSortBy="username">
            <span>Người cập nhật</span>
            <input
              #searchInput
              type="text"
              [(ngModel)]="username"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Tìm kiếm"
              (change)="findFucntion()"
            />
          </th>
          <th scope="col" jhiSortBy="productStatus">
            <span>Trạng thái</span>
            <input
              #searchInput
              type="text"
              [(ngModel)]="productStatus"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Tìm kiếm"
              (change)="findFucntion()"
            />
          </th>
          <th scope="col" jhiSortBy="">
            <span>Options</span>
            <input
              type="text"
              style="width: 1px; border: none; background-color: #6c7ae0"
            />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let item of listOfProduct
              | paginate: { itemsPerPage: itemPerPage, currentPage: page };
            let i = index
          "
        >
          <!-- <tr *ngFor="let item of listOfProduct; let i = index"> -->
          <td>{{ i + 1 }}</td>
          <td>{{ item.productCode }}</td>
          <td>{{ item.productName }}</td>
          <td>{{ item.createAt | date: "dd/MM/yyyy HH:mm:ss" }}</td>
          <td>{{ item.updateAt | date: "dd/MM/yyyy HH:mm:ss" }}</td>
          <td>{{ item.username }}</td>
          <td>{{ item.nameStatus }}</td>
          <td>
            <div class="btn-group">
              <button
                type="submit"
                class="btn btn-info btn-sm"
                (click)="openPopupKhaiBaoProfile(i, item.productId)"
                data-bs-toggle="tooltip"
                title="Khai báo profile"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button
                type="submit"
                class="btn btn-danger btn-sm"
                data-bs-toggle="tooltip"
                title="Xoá"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="paginate">
    <div style="display: flex; justify-content: space-between; width: 97%">
      <div>
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="itemPerPage"
          (change)="findFucntion()"
        >
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>
      </div>

      <div style="display: flex">
        <button
          class="pagination"
          (click)="firstPage()"
          [disabled]="firstPageBtn"
        >
          Trang đầu
        </button>
        <button
          class="pagination"
          (click)="backPage()"
          [disabled]="backPageBtn"
        >
          Trang trước
        </button>
        <button class="pagenumber">{{ pageNumber }}</button>
        <button
          class="pagination"
          (click)="nextPage()"
          [disabled]="nextPageBtn"
        >
          Trang sau
        </button>
        <button
          class="pagination"
          (click)="lastPage()"
          [disabled]="lastPageBtn"
        >
          Trang cuối
        </button>
      </div>
    </div>
  </div>

  <!-- popup khai báo profile -->
  <div
    class="table-responsive popup-background"
    role="dialog"
    *ngIf="popupKhaiBaoProfile === true"
  >
    <div>
      <span class="close-btn" (click)="closePopupKhaiBaoProfile()"
        >&times;</span
      >
      <div>
        <div class="popup-khai-bao-profile">
          <h2>Khai báo Profile</h2>
          <div class="table-container">
            <div class="table-header">
              <table
                class="table table-striped"
                aria-describedby="page-heading"
                style="width: 97%"
              >
                <thead>
                  <tr
                    jhiSort
                    [(predicate)]="predicate"
                    [(ascending)]="ascending"
                  >
                    <th scope="col">
                      Mã sản phẩm <b style="color: red">(*)</b>
                    </th>
                    <th scope="col">
                      Tên sản phẩm <b style="color: red">(*)</b>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input
                        type="text"
                        [(ngModel)]="product.productCode"
                        [ngModelOptions]="{ standalone: true }"
                        (change)="updateProduct()"
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        [(ngModel)]="product.productName"
                        [ngModelOptions]="{ standalone: true }"
                        (change)="updateProduct()"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <br /><br /><br /><br />

            <div class="table-body">
              <div class="table-body-container">
                <div class="table-body-container-first">
                  <h2>Thông tin nhóm máy theo version</h2>
                  <div class="d-flex justify-content-end">
                    <button
                      class="btn btn-info me-2"
                      style="padding: 10px 20px"
                      (click)="addRowListVersion()"
                    >
                      <fa-icon icon="add"></fa-icon>
                      <span>Thêm mới</span>
                    </button>
                  </div>
                  <hr />
                  <table
                    class="table table-striped"
                    aria-describedby="page-heading"
                  >
                    <thead>
                      <tr
                        jhiSort
                        [(predicate)]="predicate"
                        [(ascending)]="ascending"
                      >
                        <th scope="col">
                          Version <b style="color: red">(*)</b>
                        </th>
                        <th scope="col">
                          Nhóm máy <b style="color: red">(*)</b>
                        </th>
                        <th scope="col">Options</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of listOfVersion; let i = index">
                        <!-- <tr *ngFor="let item of listOfProduct | paginate: { itemsPerPage: itemPerPage, currentPage: page }; let i = index"> -->

                        <td
                          (click)="
                            getProfileInfo(
                              item.versionId,
                              item.productId,
                              item.version,
                              item.groupId
                            )
                          "
                        >
                          <input
                            type="text"
                            list="productVersion"
                            [(ngModel)]="item.version"
                            [ngModelOptions]="{ standalone: true }"
                            required
                            (change)="catchChangeVersionEvent(item.version, i)"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            list="groupMachine"
                            [(ngModel)]="item.groupName"
                            [ngModelOptions]="{ standalone: true }"
                            required
                            (change)="getGroupId(item.groupName, i)"
                          />
                          <datalist id="groupMachine">
                            <option
                              *ngFor="let item of listOfGroupMachine"
                              value="{{ item.groupName }}"
                            ></option>
                          </datalist>
                        </td>
                        <td>
                          <div class="btn-group">
                            <button
                              type="submit"
                              class="btn btn-info btn-sm"
                              (click)="getListProfile(i)"
                              *ngIf="updateVersionInfoBtn === true"
                            >
                              <fa-icon icon="pencil"></fa-icon>
                            </button>

                            <button type="submit" class="btn btn-danger btn-sm">
                              <fa-icon icon="times"></fa-icon>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <pagination-controls
                    id="panigation1"
                    (pageChange)="page3 = $event"
                    style="float: right"
                  ></pagination-controls>
                </div>
                <div class="table-body-container-second">
                  <h2>Thông tin chi tiết các máy</h2>
                  <div class="d-flex justify-content-end">
                    <button
                      class="btn btn-info me-2"
                      style="padding: 10px 20px"
                      (click)="addRowProfileCheck()"
                    >
                      <fa-icon icon="add"></fa-icon>
                      <span>Thêm mới</span>
                    </button>
                  </div>
                  <hr />
                  <table
                    class="table table-striped"
                    aria-describedby="page-heading"
                  >
                    <thead>
                      <tr
                        jhiSort
                        [(predicate)]="predicate"
                        [(ascending)]="ascending"
                      >
                        <th scope="col">STT</th>
                        <th scope="col">
                          Tên trạm <b style="color: red">(*)</b>
                        </th>
                        <th scope="col">
                          Vị trí <b style="color: red">(*)</b>
                        </th>
                        <th scope="col">
                          Tiêu chí kiểm tra <b style="color: red">(*)</b>
                        </th>
                        <th scope="col">
                          Giá trị <b style="color: red">(*)</b>
                        </th>
                        <th scope="col">
                          Version <b style="color: red">(*)</b>
                        </th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Options</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr *ngFor="let data of listOfMaMay; let i = index"> -->
                      <tr
                        *ngFor="
                          let data of listOfMaMay
                            | paginate
                              : {
                                  id: 'panigation2',
                                  itemsPerPage: itemsPerPage,
                                  currentPage: page1,
                                };
                          let i = index
                        "
                      >
                        <td>{{ i + 1 }}</td>
                        <td>
                          <input
                            type="text"
                            list="machines"
                            [(ngModel)]="data.machineName"
                            [ngModelOptions]="{ standalone: true }"
                            required
                            (change)="
                              catchEventSetMachineName(
                                data.machineName,
                                data.profileId
                              )
                            "
                          />
                          <datalist id="machines">
                            <option
                              *ngFor="let item1 of listOfMachine"
                              value="{{ item1.maThietBi }}"
                            ></option>
                          </datalist>
                        </td>
                        <td>
                          <input
                            type="text"
                            [(ngModel)]="data.position"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="machineOutPutAlert(data.machineId)"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            [(ngModel)]="data.checkName"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="machineOutPutAlert(data.machineId)"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            [(ngModel)]="data.checkValue"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="machineOutPutAlert(data.machineId)"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            [(ngModel)]="data.version"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            [(ngModel)]="data.checkStatus"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </td>
                        <td>
                          <div class="btn-group">
                            <button type="submit" class="btn btn-info btn-sm">
                              <fa-icon icon="pencil"></fa-icon>
                            </button>

                            <button type="submit" class="btn btn-danger btn-sm">
                              <fa-icon icon="times"></fa-icon>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <pagination-controls
                    id="panigation2"
                    (pageChange)="page1 = $event"
                    style="float: right"
                  ></pagination-controls>
                </div>
              </div>
            </div>
          </div>
          <button
            type="button"
            id="cancel-save"
            data-cy="entityCreateCancelButton"
            class="btn btn-secondary"
            (click)="closePopupKhaiBaoProfile()"
          >
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            class="btn btn-primary"
            (click)="openPopupConfirmSave()"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Lưu</span>
          </button>
        </div>
      </div>
      <!-- popup phần chỉnh sửa profile check-->
      <div
        class="table-responsive popup-background popup-save-info"
        role="dialog"
        *ngIf="popupConfirmSave === true"
      >
        <div>
          <p>Bạn có chắc chắn muốn lưu thông tin này không?</p>
          <div class="btn-group-save">
            <button
              class="confirm-btn"
              (click)="closePopupConfirmSave('update')"
            >
              Xác nhận
            </button>
            <button
              class="cancel-btn"
              (click)="closePopupConfirmSave('cancel')"
            >
              Hủy
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- popup thêm mới sản phẩm + profile -->
  <div
    class="table-responsive popup-background"
    role="dialog"
    *ngIf="popupAddNewProduct === true"
  >
    <div>
      <span class="close-btn" (click)="closePopupAddNewProduct()">&times;</span>

      <div>
        <div class="popup-khai-bao-profile">
          <h2>Thêm mới sản phẩm</h2>
          <div class="table-container">
            <div class="table-header">
              <table
                class="table table-striped"
                aria-describedby="page-heading"
                style="width: 97%"
              >
                <thead>
                  <tr
                    jhiSort
                    [(predicate)]="predicate"
                    [(ascending)]="ascending"
                  >
                    <th scope="col">
                      Mã sản phẩm <b style="color: red">(*)</b>
                    </th>
                    <th scope="col">
                      Tên sản phẩm <b style="color: red">(*)</b>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input
                        type="text"
                        [(ngModel)]="productCode"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        [(ngModel)]="productName"
                        [ngModelOptions]="{ standalone: true }"
                        (change)="addNewProduct()"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="btn-group-save">
                <button class="btn btn-primary confirm-btn">Lưu</button>
              </div>
            </div>
            <div class="table-body">
              <div class="table-body-container">
                <div class="table-body-container-first">
                  <h2>Thông tin nhóm máy theo version</h2>
                  <div class="d-flex justify-content-end">
                    <button
                      class="btn btn-info me-2"
                      style="padding: 10px 20px"
                      (click)="addRowListVersion()"
                    >
                      <fa-icon icon="add"></fa-icon>
                      <span>Thêm mới</span>
                    </button>
                  </div>
                  <hr />
                  <table
                    class="table table-striped"
                    aria-describedby="page-heading"
                  >
                    <thead>
                      <tr
                        jhiSort
                        [(predicate)]="predicate"
                        [(ascending)]="ascending"
                      >
                        <th scope="col">
                          Version <b style="color: red">(*)</b>
                        </th>
                        <th scope="col">
                          Nhóm máy <b style="color: red">(*)</b>
                        </th>
                        <th scope="col">Options</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr *ngFor="let item of listOfVersion; let i = index"> -->
                      <tr
                        *ngFor="
                          let item of listOfVersion
                            | paginate
                              : {
                                  id: 'panigation3',
                                  itemsPerPage: itemsPerPage3,
                                  currentPage: page2,
                                };
                          let i = index
                        "
                      >
                        <td>
                          <input
                            type="text"
                            [(ngModel)]="item.version"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="getVersion(i)"
                            required
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            list="groupMachine"
                            required
                            [(ngModel)]="item.groupName"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="getGroupId(item.groupName, i)"
                          />
                          <datalist id="groupMachine">
                            <option
                              *ngFor="let item of listOfGroupMachine"
                              value="{{ item.groupName }}"
                            ></option>
                          </datalist>
                        </td>
                        <td>
                          <div class="btn-group">
                            <button
                              type="submit"
                              class="btn btn-info btn-sm"
                              (click)="getListProfile(i)"
                            >
                              <fa-icon icon="pencil"></fa-icon>
                            </button>

                            <button type="submit" class="btn btn-danger btn-sm">
                              <fa-icon icon="times"></fa-icon>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <pagination-controls
                    id="panigation3"
                    (pageChange)="page2 = $event"
                    style="float: right"
                  ></pagination-controls>
                </div>
                <br /><br /><br />

                <div class="table-body-container-second">
                  <h2>Thông tin chi tiết các máy</h2>
                  <div class="d-flex justify-content-end">
                    <button
                      class="btn btn-info me-2"
                      style="padding: 10px 20px"
                      (click)="addRowProfileCheck()"
                    >
                      <fa-icon icon="add"></fa-icon>
                      <span>Thêm mới</span>
                    </button>
                  </div>
                  <hr />
                  <table
                    class="table table-striped"
                    aria-describedby="page-heading"
                  >
                    <thead>
                      <tr
                        jhiSort
                        [(predicate)]="predicate"
                        [(ascending)]="ascending"
                      >
                        <th scope="col">STT</th>
                        <th scope="col">
                          Tên trạm <b style="color: red">(*)</b>
                        </th>
                        <th scope="col">
                          Vị trí <b style="color: red">(*)</b>
                        </th>
                        <th scope="col">
                          Tiêu chí kiểm tra <b style="color: red">(*)</b>
                        </th>
                        <th scope="col">
                          Giá trị <b style="color: red">(*)</b>
                        </th>
                        <th scope="col">
                          Version <b style="color: red">(*)</b>
                        </th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Options</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr *ngFor="let data of listOfMaMay; let i = index"> -->
                      <tr
                        *ngFor="
                          let data of listOfMaMay
                            | paginate
                              : {
                                  id: 'panigation4',
                                  itemsPerPage: itemsPerPage,
                                  currentPage: page,
                                };
                          let i = index
                        "
                      >
                        <td>{{ i + 1 }}</td>
                        <td>
                          <input
                            type="text"
                            list="machines2"
                            [(ngModel)]="data.maThietBi"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="
                              catchEventSetMachineName(
                                data.maThietBi,
                                data.profileId
                              )
                            "
                          />
                          <datalist id="machines2">
                            <option
                              *ngFor="let item1 of listOfMachine"
                              value="{{ item1.maThietBi }}"
                            ></option>
                          </datalist>
                        </td>
                        <td>
                          <input
                            type="text"
                            [(ngModel)]="data.position"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            [(ngModel)]="data.checkName"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            [(ngModel)]="data.checkValue"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            [(ngModel)]="data.version"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            [(ngModel)]="data.checkStatus"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </td>
                        <td>
                          <div class="btn-group">
                            <button type="submit" class="btn btn-info btn-sm">
                              <fa-icon icon="pencil"></fa-icon>
                            </button>

                            <button
                              type="submit"
                              class="btn btn-danger btn-sm"
                              (click)="deleteProfileInfo(data.profileId)"
                            >
                              <fa-icon icon="times"></fa-icon>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <pagination-controls
                    id="panigation4"
                    (pageChange)="page = $event"
                    style="float: right"
                  ></pagination-controls>
                </div>
              </div>
            </div>
          </div>
          <button
            type="button"
            id="cancel-save"
            data-cy="entityCreateCancelButton"
            class="btn btn-secondary"
            (click)="closePopupKhaiBaoProfile()"
          >
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            class="btn btn-primary"
            (click)="openPopupConfirmSave()"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Lưu</span>
          </button>
        </div>
      </div>
      <!-- popup phần thêm mới -->
      <div
        class="table-responsive popup-background popup-save-info"
        role="dialog"
        *ngIf="popupConfirmSave === true"
      >
        <div>
          <p>Bạn có chắc chắn muốn lưu thông tin này không?</p>
          <div class="btn-group-save">
            <button
              class="confirm-btn"
              (click)="closePopupConfirmSave('confirm')"
            >
              Xác nhận
            </button>
            <button
              class="cancel-btn"
              (click)="closePopupConfirmSave('cancel')"
            >
              Hủy
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- popup phần chỉnh sửa profile check-->
<div
  class="table-responsive popup-background popup-save-info"
  role="dialog"
  *ngIf="popupSaveThemMoiSanPham === true"
>
  <div>
    <p>Bạn có chắc chắn muốn lưu thông tin này không?</p>
    <div class="btn-group-save">
      <button class="confirm-btn" (click)="closePopupConfirmSave('confirm')">
        Xác nhận
      </button>
      <button class="cancel-btn" (click)="closePopupConfirmSave('cancel')">
        Hủy
      </button>
    </div>
  </div>
</div>
<!-- popup phần thêm mới -->
<div
  class="table-responsive popup-background popup-save-info"
  role="dialog"
  *ngIf="popupSaveThemMoiThongTinSanPham === true"
>
  <div>
    <p>Bạn có chắc chắn muốn lưu thông tin này không?</p>
    <div class="btn-group-save">
      <button class="confirm-btn">Xác nhận</button>
      <button class="cancel-btn">Hủy</button>
    </div>
  </div>
</div>

<div id="successModalAddNewProfile" class="modal">
  <div class="modal-content">
    <h2>Thêm mới thông tin profile thành công</h2>
    <button class="closeAddNewProfile">Đóng</button>
  </div>
</div>

<div id="successModalAddNewTieuChi" class="modal">
  <div class="modal-content">
    <h2>Thêm mới tiêu chí thành công</h2>
    <button class="closeAddNewTieuChi">Đóng</button>
  </div>
</div>

<div id="successModalAddNewProduct" class="modal">
  <div class="modal-content">
    <h2>Thêm mới sản phẩm thành công</h2>
    <button class="closeAddNewProduct">Đóng</button>
  </div>
</div>

<div id="successModalUpdateProduct" class="modal">
  <div class="modal-content">
    <h2>Cập nhật sản phẩm thành công</h2>
    <button class="closeUpdateProduct">Đóng</button>
  </div>
</div>

<div id="successModalUPdateVersion" class="modal">
  <div class="modal-content">
    <h2>Cập nhật version thành công</h2>
    <button class="closeUPdateVersion">Đóng</button>
  </div>
</div>

<div id="modalSelect" class="modal">
  <div class="modal-content">
    <h2>Xin vui lòng chọn trạm kiểm tra</h2>
    <button class="closeModalSelect">Đóng</button>
  </div>
</div>
