.popup-save-info {
  p {
    font-size: 32px;
  }

  .btn-group-save {
    display: flex;
    justify-content: center;
    padding-top: 3rem;

    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition:
        background-color 0.3s,
        box-shadow 0.3s;
    }

    .confirm-btn {
      background-color: #4caf50;
      color: #fff;
      margin-right: 3rem;
    }

    .cancel-btn {
      background-color: #ff0000;
      color: #fff;
    }
  }
}

.main-container {
  width: 97%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;

  .group-btn-header {
    display: flex;
    justify-content: space-between;
  }

  button {
    color: #fff;
  }

  input {
    padding: 8px 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;

    &:focus {
      outline: none;
      border-color: #aaa;
    }
  }
}

.main-dashboard {
  position: relative;
  display: flex;

  h1 {
    text-align: center;
  }

  .btn-actions {
    position: absolute;
    top: 5px;
    right: 30px;

    button {
      color: #fff;
    }
  }

  .div-input {
    display: flex;
    justify-content: flex-start;

    input {
      padding: 8px 10px;
      margin-top: 5px;
      box-sizing: border-box;
      border: 1px solid #ddd;
      border-radius: 4px;

      &:focus {
        outline: none;
        border-color: #aaa;
      }
    }
  }

  width: 100%;
  height: 80px;
}

.product-info {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;

  .table-info {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    font-size: 22px;
  }

  thead {
    tr {
      background-color: #f2f2f2;
      // border-bottom: 2px solid #ddd;
    }

    th {
      padding: 12px 15px;
      cursor: pointer;
      position: relative;
      background-color: #309acf;
      color: #ffffff;
      text-align: center;
      border: 0.8px solid #000;

      &:hover {
        background-color: #2d80aa;
      }

      span {
        font-weight: bold;
        display: block;
      }

      input {
        width: 100%;
        padding: 8px 10px;
        margin-top: 5px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 4px;

        &:focus {
          outline: none;
          border-color: #aaa;
        }
      }
    }
  }

  tbody {
    td {
      text-align: center;
      font-weight: 400;
      border: 0.8px solid #000;
    }
  }
}

.container-1 {
  // margin: 0 100px;
  height: 300px;
}

.check-summary {
  width: 100%;
  margin: auto;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;

  > div {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
  }

  .group-pie {
    border: #ccc solid 1px;
    width: 30vw;
    height: 325px;

    .group-canvas {
      // margin: auto;
      height: 300px;
      width: 400px;
    }
  }

  .table-check {
    width: 50vw;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 22px;
  }

  thead {
    tr {
      background-color: #f2f2f2;
      // border-bottom: 2px solid #ddd;
    }

    th {
      padding: 12px 15px;
      cursor: pointer;
      position: relative;
      background-color: #309acf;
      color: #ffffff;
      text-align: center;
      border: 0.8px solid #000;

      &:hover {
        background-color: #2d80aa;
      }

      span {
        font-weight: bold;
        display: block;
      }

      input {
        width: 100%;
        padding: 8px 10px;
        margin-top: 5px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 4px;

        &:focus {
          outline: none;
          border-color: #aaa;
        }
      }
    }
  }

  tbody {
    td {
      font-size: 4rem;
      text-align: center;
      font-weight: 400;
      border: 0.8px solid #000;
      height: 13rem;
    }
  }
}

.pie {
  margin-top: 50px;
  width: 200px;
  height: 200px;
  background-image: conic-gradient(green 95%, red 5%);
  border-radius: 50%;
}

.inspection-stations {
  width: 52vw;
  margin-top: 30px;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  min-height: 22rem;
  display: block;

  .table-inspection {
    width: 50vw;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    font-size: 22px;
    max-height: 10rem;

    thead {
      tr {
        background-color: #f2f2f2;
        // border-bottom: 2px solid #ddd;
      }

      th {
        padding: 12px 15px;
        cursor: pointer;
        position: relative;
        background-color: #309acf;
        color: #ffffff;
        border: 0.8px solid #000;

        &:hover {
          background-color: #2d80aa;
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      &:hover {
        background-color: #f1f1f1;
      }
    }

    td {
      padding: 12px 15px;
      border-bottom: 1px solid #ddd;
      border: 0.8px solid #000;
      font-weight: 400;

      &:last-child {
        text-align: left;
      }
    }
  }
}

.user-access {
  display: block;
  min-height: 23rem;
  width: 30vw;
  // height: 200px;
  margin-top: 30px;
  padding: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;

  .table-user {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    font-size: 22px;

    thead {
      tr {
        background-color: #f2f2f2;
        // border-bottom: 2px solid #ddd;
      }

      th {
        padding: 12px 15px;
        cursor: pointer;
        position: relative;
        background-color: #309acf;
        color: #ffffff;
        border: 0.8px solid #000;

        &:hover {
          background-color: #2d80aa;
        }

        span {
          font-weight: bold;
          display: block;
        }

        input {
          width: 100%;
          padding: 8px 10px;
          margin-top: 5px;
          box-sizing: border-box;
          border: 1px solid #ddd;
          border-radius: 4px;

          &:focus {
            outline: none;
            border-color: #aaa;
          }
        }
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f9f9f9;
        }

        &:hover {
          background-color: #f1f1f1;
        }
      }

      td {
        padding: 12px 15px;
        border-bottom: 1px solid #ddd;
        border: 0.8px solid #000;
        font-weight: 400;

        &:last-child {
          text-align: left;
        }
      }
    }
  }
}

.group-station-user {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}

.paginate {
  margin: 20px 0;
  font-size: 16px;

  .paginate-container {
    gap: 10px;
  }

  .form-select {
    width: 5vw;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    transition:
      border-color 0.3s ease,
      box-shadow 0.3s ease;

    &:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
    }

    &:hover {
      border-color: #007bff;
    }
  }

  pagination-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0 5px;

      &.active a {
        background-color: #007bff;
        color: #fff;
        border: 1px solid #007bff;
      }

      a {
        padding: 8px 12px;
        font-size: 14px;
        color: #007bff;
        text-decoration: none;
        border: 1px solid #ddd;
        border-radius: 4px;
        transition:
          background-color 0.3s ease,
          color 0.3s ease,
          border-color 0.3s ease;

        &:hover {
          background-color: #e9ecef;
          color: #0056b3;
          border-color: #ddd;
        }
      }

      &:first-child a,
      &:last-child a {
        border-radius: 4px;
      }
    }
  }
}

.popup-save-info {
  p {
    font-size: 32px;
  }

  .btn-group-save {
    display: flex;
    justify-content: center;
    padding-top: 3rem;

    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition:
        background-color 0.3s,
        box-shadow 0.3s;
    }

    .confirm-btn {
      background-color: #4caf50;
      color: #fff;
      margin-right: 3rem;
    }

    .cancel-btn {
      background-color: #ff0000;
      color: #fff;
    }
  }
}

.popup-background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  > div {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    min-width: 96%;
    min-height: 90%;
    overflow-y: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    .popup-chi-tiet-scan {
      width: 90vw;
      height: 90vh;

      .table-container {
        width: 90vw;
        height: 80vh;

        .table-container-body {
          display: flex;
          justify-content: space-between;

          .table-footer {
            td {
              text-align: left;
            }

            .btn-footer {
              border-top: none;
              margin-top: 1rem;
            }
          }
        }
      }
    }

    .close-btn {
      font-size: 1.5rem;
      cursor: pointer;
      float: right;
      width: 2rem;
      text-align: center;
    }

    .close-btn:hover {
      color: #fff;
      background-color: red;
      cursor: pointer;
    }

    h2 {
      margin-top: 0;
      font-size: 1.75rem;
      // text-align: center;
      color: #333;
    }

    table {
      width: 100%;
      margin-top: 20px;
      border-collapse: collapse;
      font-size: 16px;
      text-align: left;

      thead {
        background-color: #f5f5f5;

        tr {
          background-color: #f2f2f2;
          // border-bottom: 2px solid #ddd;
        }

        th {
          padding: 12px 15px;
          cursor: pointer;
          position: relative;
          background-color: #309acf;
          color: #ffffff;
          border: 0.5px solid #000;

          &:hover {
            background-color: #2d80aa;
          }

          span {
            font-weight: bold;
            display: block;
          }

          input {
            width: 100%;
            padding: 8px 10px;
            margin-top: 5px;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 4px;

            &:focus {
              outline: none;
              border-color: #aaa;
            }
          }
        }
      }

      tbody {
        tr {
          &:nth-child(even) {
            background-color: #f9f9f9;
          }

          td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            border: 0.5px solid #000;
            font-size: 16px;
            font-weight: 400;

            &:last-child {
              text-align: right;
            }
          }
        }
      }

      input[type="text"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }

      .btn-group {
        button {
          margin-right: 5px;
          border: none;
          padding: 5px 10px;
          font-size: 0.875rem;
          cursor: pointer;
          border-radius: 4px;

          &:last-child {
            margin-right: 0;
          }

          &.btn-info {
            background-color: #17a2b8;
            color: #fff;
          }

          &.btn-danger {
            background-color: #dc3545;
            color: #fff;
          }
        }

        .btn {
          padding: 8px 12px;
          font-size: 14px;
          border: none;
          border-radius: 4px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition:
            background-color 0.3s ease,
            box-shadow 0.3s ease;

          &-info {
            background-color: #17a2b8;
            color: white;

            &:hover {
              background-color: #138496;
            }

            &:focus {
              outline: none;
              box-shadow: 0 0 0 3px rgba(23, 162, 184, 0.4);
            }

            &:active {
              background-color: #117a8b;
            }
          }

          &-danger {
            background-color: #dc3545;
            color: white;

            &:hover {
              background-color: #c82333;
            }

            &:focus {
              outline: none;
              box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.4);
            }

            &:active {
              background-color: #bd2130;
            }
          }

          &-sm {
            padding: 6px 10px;
            font-size: 12px;
          }

          fa-icon {
            margin-right: 5px;
            font-size: 16px;
          }
        }
      }
    }
  }

  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition:
      background-color 0.3s,
      box-shadow 0.3s;

    fa-icon {
      margin-right: 8px;
    }

    &.btn-secondary {
      background-color: #6c757d;
      color: #fff;

      &:hover {
        background-color: #5a6268;
      }

      &:active {
        background-color: #545b62;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      }
    }

    &.btn-primary {
      background-color: #007bff;
      color: #fff;

      &:hover {
        background-color: #0056b3;
      }

      &:active {
        background-color: #004085;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      }
    }
  }
}
