<div class="main-page" style="display: flex; flex-direction: column">
  <div
    class="function-list"
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <div
      class="left-group"
      style="display: flex; align-items: center; gap: 15px"
    >
      <div class="title-page">
        <h2>Quản lý đề nghị cập nhật vật tư</h2>
      </div>
      <div style="margin: 0 10px">
        <h2 class="phan-cach">|</h2>
      </div>
    </div>

    <div
      class="right-group"
      style="display: flex; align-items: center; margin-right: 0px"
    >
      <div>
        <button
          type="button"
          (click)="export()"
          class="btn btn-danger"
          mat-raised-button
        >
          <mat-icon>file_download</mat-icon>Xuất Excel
        </button>
      </div>
    </div>
  </div>

  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    "
  >
    <div class="full-scroll-table-container">
      <table
        *jhiHasAnyAuthority="'ROLE_PANACIM_VIEW'"
        mat-table
        [dataSource]="dataSource_update_manage"
        multiTemplateDataRows
        class="mat-elevation-z8 bordered-table"
        matSort
      >
        <ng-container matColumnDef="detail">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="width: 25px; background-color: #548ce8"
          >
            <div
              style="
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
              "
            >
              <span>Chi tiết</span>
            </div>
          </th>
          <td style="text-align: center" mat-cell *matCellDef="let element">
            <div class="td-flex-center">
              <button
                mat-icon-button
                (click)="toggleRowExpansion(element)"
                [attr.aria-label]="'Toggle details for ' + element.requestCode"
              >
                <mat-icon>{{
                  expandedElement === element
                    ? "keyboard_arrow_down"
                    : "keyboard_arrow_right"
                }}</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="requestCode">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #548ce8"
          >
            <div class="th-container">
              <div class="header-content">
                <div
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                  "
                >
                  <div class="column-title">Yêu cầu</div>
                  <div>
                    <mat-icon
                      [matMenuTriggerFor]="filterRequestCode"
                      style="color: white"
                      >filter_list</mat-icon
                    >
                  </div>
                </div>
                <mat-menu #filterRequestCode="matMenu">
                  <button
                    mat-menu-item
                    (click)="setFilterMode('requestCode', 'contains')"
                  >
                    Có chứa
                  </button>
                  <button
                    mat-menu-item
                    (click)="setFilterMode('requestCode', 'not_contains')"
                  >
                    Không chứa
                  </button>
                  <button
                    mat-menu-item
                    (click)="setFilterMode('requestCode', 'equals')"
                  >
                    Bằng
                  </button>
                  <button
                    mat-menu-item
                    (click)="setFilterMode('requestCode', 'not_equals')"
                  >
                    Không bằng
                  </button>
                </mat-menu>
                <div class="search-container">
                  <div class="custom-search-wrapper">
                    <mat-form-field
                      class="small-form-field"
                      appearance="fill"
                      floatLabel="always"
                    >
                      <mat-label>Search</mat-label>
                      <input
                        (keyup)="applyFilter('requestCode', $event)"
                        matInput
                        [placeholder]="
                          'Search (' +
                          (filterModes['requestCode'] || 'contains') +
                          ')'
                        "
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element["requestCode"] }}
          </td>
        </ng-container>

        <ng-container matColumnDef="createdTime">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #548ce8"
          >
            <div class="th-container">
              <div class="header-content">
                <div
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                  "
                >
                  <div class="column-title">Ngày gửi đề nghị</div>
                  <div>
                    <mat-icon
                      [matMenuTriggerFor]="filterCreatedTime"
                      style="color: white"
                      >filter_list</mat-icon
                    >
                  </div>
                </div>
                <mat-menu #filterCreatedTime="matMenu">
                  <button
                    mat-menu-item
                    (click)="setFilterMode('createdTime', 'contains')"
                  >
                    Có chứa
                  </button>
                  <button
                    mat-menu-item
                    (click)="setFilterMode('createdTime', 'not_contains')"
                  >
                    Không chứa
                  </button>
                  <button
                    mat-menu-item
                    (click)="setFilterMode('createdTime', 'equals')"
                  >
                    Bằng
                  </button>
                  <button
                    mat-menu-item
                    (click)="setFilterMode('createdTime', 'not_equals')"
                  >
                    Không bằng
                  </button>
                </mat-menu>
                <div class="search-container">
                  <div class="custom-search-wrapper">
                    <mat-form-field
                      class="small-form-field"
                      appearance="fill"
                      floatLabel="always"
                    >
                      <mat-label>Search Date</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker"
                        [placeholder]="
                          'Search (' +
                          (filterModes['createdTime'] || 'contains') +
                          ')'
                        "
                        (dateChange)="applyDateFilter('createdTime', $event)"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element["createdTime"] | timestampToDate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="requestedBy">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #548ce8"
          >
            <div class="th-container">
              <div class="header-content">
                <div
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                  "
                >
                  <div class="column-title">Người gửi đề nghị</div>
                  <div>
                    <mat-icon
                      [matMenuTriggerFor]="filterRequestedBy"
                      style="color: white"
                      >filter_list</mat-icon
                    >
                  </div>
                </div>
                <mat-menu #filterRequestedBy="matMenu">
                  <button
                    mat-menu-item
                    (click)="setFilterMode('requestedBy', 'contains')"
                  >
                    Có chứa
                  </button>
                  <button
                    mat-menu-item
                    (click)="setFilterMode('requestedBy', 'not_contains')"
                  >
                    Không chứa
                  </button>
                  <button
                    mat-menu-item
                    (click)="setFilterMode('requestedBy', 'equals')"
                  >
                    Bằng
                  </button>
                  <button
                    mat-menu-item
                    (click)="setFilterMode('requestedBy', 'not_equals')"
                  >
                    Không bằng
                  </button>
                </mat-menu>
                <div class="search-container">
                  <div class="custom-search-wrapper">
                    <mat-form-field
                      class="small-form-field"
                      appearance="fill"
                      floatLabel="always"
                    >
                      <mat-label>Search</mat-label>
                      <input
                        (keyup)="applyFilter('requestedBy', $event)"
                        matInput
                        [placeholder]="
                          'Search (' +
                          (filterModes['requestedBy'] || 'contains') +
                          ')'
                        "
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element["requestedBy"] }}
          </td>
        </ng-container>
        <ng-container matColumnDef="approvedBy">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="background-color: #548ce8"
          >
            <div class="th-container">
              <div class="header-content">
                <div
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                  "
                >
                  <div class="column-title">Người duyệt</div>
                  <div>
                    <mat-icon
                      [matMenuTriggerFor]="filterApprovedBy"
                      style="color: white"
                      >filter_list</mat-icon
                    >
                  </div>
                </div>
                <mat-menu #filterApprovedBy="matMenu">
                  <button
                    mat-menu-item
                    (click)="setFilterMode('approvedBy', 'contains')"
                  >
                    Có chứa
                  </button>
                  <button
                    mat-menu-item
                    (click)="setFilterMode('approvedBy', 'not_contains')"
                  >
                    Không chứa
                  </button>
                  <button
                    mat-menu-item
                    (click)="setFilterMode('approvedBy', 'equals')"
                  >
                    Bằng
                  </button>
                  <button
                    mat-menu-item
                    (click)="setFilterMode('approvedBy', 'not_equals')"
                  >
                    Không bằng
                  </button>
                </mat-menu>
                <div class="search-container">
                  <div class="custom-search-wrapper">
                    <mat-form-field
                      class="small-form-field"
                      appearance="fill"
                      floatLabel="always"
                    >
                      <mat-label>Search</mat-label>
                      <input
                        (keyup)="applyFilter('approvedBy', $event)"
                        matInput
                        [placeholder]="
                          'Search (' +
                          (filterModes['approvedBy'] || 'contains') +
                          ')'
                        "
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element["approvedBy"] }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="search-header col-status"
            style="background-color: #548ce8"
          >
            <div class="header-content">
              <div
                style="
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                "
              >
                <div class="column-title">Trạng thái</div>
                <div>
                  <mat-icon
                    [matMenuTriggerFor]="filterStatus"
                    style="color: white"
                    >filter_list</mat-icon
                  >
                </div>
              </div>
              <mat-menu #filterStatus="matMenu">
                <button
                  mat-menu-item
                  (click)="setFilterMode('status', 'contains')"
                >
                  Có chứa
                </button>
                <button
                  mat-menu-item
                  (click)="setFilterMode('status', 'not_contains')"
                >
                  Không chứa
                </button>
                <button
                  mat-menu-item
                  (click)="setFilterMode('status', 'equals')"
                >
                  Bằng
                </button>
                <button
                  mat-menu-item
                  (click)="setFilterMode('status', 'not_equals')"
                >
                  Không bằng
                </button>
              </mat-menu>
              <div class="search-container">
                <div class="custom-search-wrapper">
                  <mat-form-field
                    appearance="fill"
                    class="small-form-field small-form-field-select"
                  >
                    <mat-label>Status</mat-label>
                    <mat-select
                      [ngModel]="searchTerms['status']?.value || ''"
                      (ngModelChange)="applyFilter('status', $event)"
                    >
                      <mat-option value="">Tất cả</mat-option>
                      <mat-option value="PENDING">Chờ duyệt</mat-option>
                      <mat-option value="APPROVE">Phê duyệt</mat-option>
                      <mat-option value="REJECT">Từ chối</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </th>
          <td
            class="col-status"
            mat-cell
            *matCellDef="let element"
            [ngClass]="{
              'status-pending': element.status === 'PENDING',
              'status-approve': element.status === 'APPROVE',
              'status-reject': element.status === 'REJECT'
            }"
          >
            <span>
              <span>{{ STATUS_LABELS[element.status] }}</span>
            </span>
          </td>
        </ng-container>

        <!-- Bảng chi tiết -->
        <ng-container matColumnDef="expandedDetail">
          <td
            style="padding: 0px 20px 0px 10px"
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="displayedColumns.length"
          >
            <div
              class="example-element-detail"
              [@detailExpand]="
                element == expandedElement ? 'expanded' : 'collapsed'
              "
            >
              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-top: 0px;
                  padding: 10px;
                  color: #000;
                  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                "
              >
                <h5>Danh sách cập nhật chi tiết</h5>
                <div>
                  <div style="display: flex; align-items: center; gap: 3px">
                    <div>
                      <button
                        (click)="refuseRequest(element.id!)"
                        [disabled]="element.id === null"
                        style="
                          width: 120px;
                          background-color: rgb(245, 64, 32);
                          color: white;
                          font-family: &quot;roboto&quot;, sans-serif;
                          font-weight: bold;
                        "
                        type="button"
                        class="btn btn-danger"
                        mat-raised-button
                      >
                        Từ chối
                      </button>
                    </div>
                    <div>
                      <button
                        (click)="acceptRequest(element.id!)"
                        [disabled]="element.id === null"
                        style="
                          width: 120px;
                          background-color: rgb(20, 202, 62);
                          color: white;
                          font-family: &quot;roboto&quot;, sans-serif;
                          font-weight: bold;
                        "
                        type="button"
                        class="btn btn-danger"
                        mat-raised-button
                      >
                        Phê duyệt
                      </button>
                    </div>
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="exportExpandedDetails(element)"
                    >
                      <mat-icon>file_download</mat-icon>
                      Xuất Excel
                    </button>
                  </div>
                </div>
              </div>

              <table
                mat-table
                [dataSource]="dataSoure_update_detail"
                class="mat-elevation-z8 bordered-table"
              >
                <ng-container matColumnDef="select">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="
                      text-align: center;
                      background-color: #548ce8;
                      color: #fff;
                    "
                  >
                    <div
                      style="
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                      "
                    >
                      <span>Select all</span>
                    </div>
                    <mat-checkbox
                      color="primary"
                      (click)="$event.stopPropagation()"
                      (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()"
                    >
                    </mat-checkbox>
                  </th>
                  <td style="text-align: center" mat-cell *matCellDef="let row">
                    <mat-checkbox
                      color="primary"
                      (click)="$event.stopPropagation()"
                      (change)="handleDetailStatusChange(row, $event.checked)"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)"
                    >
                    </mat-checkbox>
                  </td>
                </ng-container>

                <ng-container matColumnDef="id">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="background-color: #548ce8; color: #fff"
                  >
                    ID
                  </th>
                  <td mat-cell *matCellDef="let innerElement">
                    {{ innerElement["id"] }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="materialId">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="background-color: #548ce8; color: #fff"
                  >
                    ID vật tư
                  </th>
                  <td mat-cell *matCellDef="let innerElement">
                    {{ innerElement["materialId"] }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="updatedBy">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="background-color: #548ce8; color: #fff"
                  >
                    Người đề nghị
                  </th>
                  <td mat-cell *matCellDef="let innerElement">
                    {{ innerElement["updatedBy"] }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="createdTime">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="background-color: #548ce8; color: #fff"
                  >
                    Ngày đề nghị
                  </th>
                  <td mat-cell *matCellDef="let innerElement">
                    {{ innerElement["createdTime"] | timestampToDate }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="expiredTime">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="background-color: #548ce8; color: #fff"
                  >
                    Ngày hết hạn
                  </th>
                  <td mat-cell *matCellDef="let innerElement">
                    {{ innerElement["expiredTime"] | timestampToDate }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="productCode">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="background-color: #548ce8; color: #fff"
                  >
                    Mã sản phẩm
                  </th>
                  <td mat-cell *matCellDef="let innerElement">
                    {{ innerElement["productCode"] }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="background-color: #548ce8; color: #fff"
                  >
                    Số lượng ban đầu
                  </th>
                  <td mat-cell *matCellDef="let innerElement">
                    {{ innerElement["quantity"] }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="quantityChange">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="background-color: #548ce8; color: #fff"
                  >
                    Số lượng luân chuyển
                  </th>
                  <td mat-cell *matCellDef="let innerElement">
                    {{ innerElement["quantityChange"] }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="type">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="background-color: #548ce8; color: #fff"
                  >
                    Loại yêu cầu
                  </th>
                  <td mat-cell *matCellDef="let innerElement">
                    {{ innerElement["type"] }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="locationName">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="background-color: #548ce8; color: #fff"
                  >
                    Kho mới
                  </th>
                  <td mat-cell *matCellDef="let innerElement">
                    {{ innerElement["locationName"] }}
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedColumnsDetails"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let innerRow; columns: displayedColumnsDetails"
                  [style.opacity]="
                    canViewOnly
                      ? '1'
                      : selection.isSelected(innerRow)
                        ? '1'
                        : '0.5'
                  "
                ></tr>
              </table>
              <div>
                <mat-paginator
                  #detailPaginator
                  [pageSizeOptions]="pageSizeOptions"
                  [pageSize]="pageSize"
                  [length]="dataSoure_update_detail.data.length"
                  showFirstLastButtons
                >
                </mat-paginator>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: displayedColumns"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"
        ></tr>
      </table>
    </div>
    <div class="paginator">
      <mat-paginator
        #paginator
        class="demo-paginator"
        (page)="handlePageEvent($event)"
        [length]="length"
        [pageSize]="pageSize"
        [disabled]="disabled"
        [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
        [hidePageSize]="hidePageSize"
        [pageIndex]="pageIndex"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</div>
